<app-header></app-header>


<div class="container my-5">

  <pre-loader *ngIf="_baseService.isLoader"></pre-loader>

  
  <div class="mt-5">

    <div class="row mx-0">

      <div class="col-md-12">

        <div class="">

          <div class="text-grey ml-auto pull-right">

            <div class="btn-group custom-dropdown" mdbDropdown>
              <span class="grey-text"> SORT BY:</span>
              <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
                 {{isOrderby?'Newest':'Oldest'}}
              </button>
  
              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" (click)="selectOrderBy(true)">Newest</a>
                <a class="dropdown-item" (click)="selectOrderBy(false)">Oldest</a>
              </div>
            </div>
  
          </div>
        </div>
        <h4>All Notifications</h4>

        <div class="my-3 mx-auto" *ngFor="let data of _baseService.allNotification | orderByDate : 'createdAt': isOrderby">
          <div class="row mx-0 position-relative my-2 z-depth-1 cursor-pointer " >
            <div class="col-3 pl-0">
              <div class="position-relative">
                <img class="img-fluid my_predict_img" [defaultImage]="defaultImage" [lazyLoad]="data.question.picture"
                  [useSrcset]="true" [offset]="offset">

                <div class="overlay"></div>
              </div>
            </div>
            <div class=" col-9 p-1  d-flex flex-column  my-auto">

              <div class="">
                <div class="">
                  <!-- <h4 class="h4-responsive">{{ data.message }}</h4> -->
                  <h4 class="h4-responsive">{{ data.question.title }}</h4>
                </div>

                <div class="desc pb-3 block-with-text">
                  {{ data.question.description }}
                </div>

              </div>


              <div class="row no-gutters align-items-center">
                <div class="col-2">
                  <!-- <img src="../../assets/img/profile.png" class="avatar img-fluid rounded-circle" alt="Ashley Briggs"> -->
                  <img [src]="data.user.picture" alt="" class="avatar img-fluid rounded-circle profile_pic"  alt="{{data.user.firstName}}">
                </div>
                <div class="col-10 pl-2">
               
                  <div class="text-muted small mt-1">  
                      <span class="text_dark text-primary">{{ data.user.firstName + data.user.lastName }}</span>
                      {{data.message}}  
                    </div>
                  <div class="text-muted small mt-1">{{data.createdAt | timeAgo}}</div>
                </div>
              </div>

            </div>

            <!-- <div class=" col-2 p-1  d-flex flex-column my-auto">

              <div class="text-center">
                <div class="">
                  <h4 class="h4-responsive grey_text">My Prediction</h4>
                </div>

                <div class="desc pb-3 block-with-text count_val">
                  2040
                </div>
              </div>

            </div>

            <div class=" col-2 p-1  d-flex flex-column  my-auto">

              <div class="text-center">
                <div class="">
                  <h4 class="h4-responsive grey_text">Consensus</h4>
                </div>

                <div class="desc pb-3 block-with-text count_val">
                  2040
                </div>
              </div>

            </div> -->

          </div>
        </div>


      </div>
      
    </div>
  </div>


</div>