<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.png" alt="" height="40">
    </a>
  </logo>

  <!-- Collapsible content -->
  <links>

    <ul class="navbar-nav ml-auto f-14 align-items-center">
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/timeline']" mdbWavesEffect>TIMELINE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/posts']" mdbWavesEffect>POSTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/questions']" mdbWavesEffect>Q&amp;A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/ama']" mdbWavesEffect>AMA</a>
      </li>

      <li class="nav-item blue-round-btn text-white"  *ngIf="_baseService.currentUser.isLogedIn">
        <a class="nav-link waves-light d-inline-block" [routerLink]="['/polls']" mdbWavesEffect>Predict </a> |
        <a class="nav-link waves-light d-inline-block" [routerLink]="['/polls']" mdbWavesEffect> Create Poll</a>
      </li>

      <li class="nav-item blue-round-btn text-white" *ngIf="!_baseService.currentUser.isLogedIn">
        <a class="nav-link waves-light d-inline-block" (click)="basicModal.show()" mdbWavesEffect>LOGIN </a> |
        <a class="nav-link waves-light d-inline-block ml-2" (click)="basicModal.show()" mdbWavesEffect> SIGN UP</a>
      </li>




      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown   *ngIf="_baseService.currentUser.isLogedIn">
        <a routerLink="/notifcations" *ngIf="_baseService.allActiveNotification.length==0" dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light notifyCount" mdbWavesEffect>
          <img src="../../assets/img/notification.png" alt="" height="24" width="20">
          <span class="indicator">{{_baseService.allActiveNotification.length}}</span>
        </a>

        <a *ngIf="_baseService.allActiveNotification.length>0" dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light notifyCount" mdbWavesEffect>
          <img src="../../assets/img/notification.png" alt="" height="24" width="20">
          <span class="indicator">{{_baseService.allActiveNotification.length}}</span>
        </a>


        <div   *dropdownMenu class="dropdown-menu dropdown dropdown-menu-lg dropdown-menu-right py-0 notificationarea dropdown-primary" role="menu">
         
          <!-- <div class="dropdown-menu-header">
            <div class="position-relative">
              4 New Messages
            </div>
          </div> -->
          <div class="list-group" *ngIf="_baseService.allActiveNotification.length>0">
            <a class="list-group-item cursor-pointer" *ngFor="let data of _baseService.allActiveNotification | orderByDate : 'createdAt': true">
              <div class="row no-gutters align-items-center">
                <div class="col-2">
                  <!-- <img src="../../assets/img/profile.png" class="avatar img-fluid rounded-circle" alt="Ashley Briggs"> -->
                  <img [src]="data.user.picture" alt="" class="avatar img-fluid rounded-circle profile_pic"  alt="{{data.user.firstName}}">
                </div>
                <div class="col-10 pl-2">
               
                  <div class="text-muted small mt-1">  
                      <span class="text_dark text-primary">{{ data.user.firstName + data.user.lastName }}</span>
                      {{data.message}}  
                    </div>
                  <div class="text-muted small mt-1">{{data.createdAt | timeAgo}}</div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="dropdown-menu-footer" *ngIf="_baseService.allActiveNotification.length>0">
            <a routerLink="/notifcations" class="text-muted">View All</a>
          </div>
        
        </div>
      </li>

      <li class="nav-item dropdown" dropdown *ngIf="_baseService.currentUser.isLogedIn">
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img [src]="_baseService.currentUser?_baseService.currentUser.picture:'../../assets/img/profile.png'" class="img-fluid rounded-circle z-depth-0" height="30" width="30">
            <span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown  dropdown-menu-right py-0" role="menu">
              <a class="dropdown-item waves-effect waves-light"  [routerLink]="['/profile']">My Account</a>
              <a class="dropdown-item waves-effect waves-light" href="#">Settings</a>
              <a class="dropdown-item waves-effect waves-light" (click)="Logout();">Logout</a>

          </div>
        </li>

     
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg signup-modal" role="document">
    <div class="modal-content signup-blue-bg text-white px-3 py-5">

      <button #closeButton type="button" class="close pull-left" aria-label="Close" (click)="basicModal.hide()">
        <span aria-hidden="true">×</span>
      </button>

      <div class="row mx-0 mt-4">

        <div class="col-4 border-right">
            <div class="col-12  text-center divcenter">
                  <h4 class="h4-responsive text-uppercase">To view this article:</h4>
      
                <div  class="mt-1">
                    <p class="card-text">Sign up with</p>
                    <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
                    <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
                </div>
      
      
              </div>
        </div>
     
        <div class="col-8">
          <div class="row mx-0">


            <form novalidate [formGroup]="userRegistrationForm" (ngSubmit)="onUserRegistrationFormSubmit()" class="width_100">

              <h4 class="h4-responsive text-uppercase mb-0">create an account</h4>
              <div class="row mx-0">
                <div class="col">
                  <div class="md-form">
                    <input mdbInputDirective type="text" formControlName="FirstName" id="fname" class="form-control">
                    <label for="fname" class="white-text">First Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="md-form">
                    <input mdbInputDirective type="text" formControlName="LastName" id="lname" class="form-control">
                    <label for="lname" class="white-text">Last Name </label>
                  </div>
                </div>
              </div>

              <div class="row mx-0">
                <div class="col">
                  <div class="md-form">
                    <input mdbInputDirective type="email" formControlName="Email" id="email" class="form-control">
                    <label for="email" class="white-text">Email</label>
                  </div>
                </div>
              </div>

              <div class="row mx-0">
                <div class="col">
                  <div class="md-form">
                    <input mdbInputDirective type="password" formControlName="Password" id="pwd" class="form-control">
                    <label for="pwd" class="white-text">Password</label>
                  </div>
                </div>
                <div class="col">
                  <div class="md-form">
                    <input mdbInputDirective type="password" formControlName="CPassword" id="cpwd" class="form-control">
                    <label for="cpwd" class="white-text">Confirm Password</label>
                  </div>
                </div>
              </div>

              <div class="clearfix w-100 ">

                <button type="submit" class="btn btn-outline-white btn-rounded float-right" [disabled]="userRegistrationForm.invalid"   mdbWavesEffect>
                  NEXT</button>

              </div>

            </form>

          </div>
          <h4 class="row mx-0 my-2 h4-responsive">
            OR
          </h4>
          <div class="">
              <form novalidate [formGroup]="userLoginForm"  (ngSubmit)="onUserLoginFormSubmit()">

            <h4 class="h4-responsive text-uppercase">Sign in</h4>
            <div class="row mx-0">
              <div class="col">
                <div class="md-form">
                  <input mdbInputDirective type="text" formControlName="Email" id="uname" class="form-control">
                  <label for="uname" class="white-text">Email</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form">
                  <input mdbInputDirective type="password" formControlName="Password" id="password" class="form-control">
                  <label for="password" class="white-text">Password </label>
                </div>
              </div>
            </div>
            <div class="clearfix w-100 ">

              <button type="submit" class="btn btn-outline-white btn-rounded float-right" [disabled]="userLoginForm.invalid"  mdbWavesEffect>Sign in</button>

            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>