
.notificationarea{
    width: 300px !important;
}

.dropdown-menu-footer {
    padding: .5rem;
    text-align: center;
    display: block;
    font-size: .75rem;
}

.navbar .dropdown-menu a {
    padding: 5px 10px !important;
}

.text_dark{
    font-weight: 500 !important;
}
.text-primary{
    color:rgb(6, 116, 219) !important;
}

.notifyCount::after{
    display: none !important;
}
.nav-item .indicator {
    background: #f44455;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: 0px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
}

.width_100{
    width: 100%;
}

.divcenter {
    padding-top: 70%;
    padding-left: 0;
    padding-right: 0;
}

.btn-google {
    background: #ce2e2e;
  }
  
  .btn-facebook {
    background: #1e67b5;
  }