<section class="footer-sec black pb-5 d-none">
  <div class="container d-flex flex-column text-center">
    <div class="py-3">
      <img src="../../assets/img/logo.png" alt="">
    </div>
    <div class="row mx-0">
      <div class="col">
        <a href="">About</a>
        <a href="">About</a>
        <a href="">About</a>
        <a href="">About</a>
      </div>
      <div class="col">
        <a href="">faq</a>
        <a href="">faq</a>
        <a href="">faq</a>
        <a href="">faq</a>
      </div>
      <div class="col">
        <a href="">contact</a>
        <a href="">contact</a>
        <a href="">contact</a>
        <a href="">contact</a>
      </div>
    </div>
  </div>
</section>

<section class="footer-sec black pb-5 text-white">
  <div class="container d-flex flex-column text-center position-relative">
    <div class="py-3">
      <img src="../../assets/img/logo.png" alt="">
    </div>
    <div class="row mx-0 text-lblue ">
      <div class="col">
        <h3 class="footer-title h3-responsive">Title</h3>
        <a href="">CDN Providers</a>
        <a href="">Ad networks</a>
        <a href="">VPN providers</a>
      </div>
      <div class="col">
        <h3 class="footer-title h3-responsive">Title</h3>
        <a href="">entrepreneurship</a>
        <a href="">CLoud storage</a>
        <a href="">affiliate programmes</a>
      </div>
      <div class="col">
        <h3 class="footer-title h3-responsive">Title</h3>
        <a href="">Infographics</a>
        <a href="">Email Marketing</a>
        <a href="">link bilding</a>
      </div>
    </div>

  </div>
</section>
<div class="black px-3 pb-4">


  <div class="position-relative black" style="height: 50px;">

    <div class="border-center ">
    </div>
    <div class="clearfix position-absolute connect-text text-white">
      <div class="float-none float-md-left ">
        <h2 class="connect h2-responsive">
          connect
          <span>with </span> US
        </h2>
      </div>
      <div class="footer-social float-none float-md-right">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </div>

    </div>
  </div>

  <div class="clearfix position-relative mt-3">
    <div class="float-none float-md-left text-white">
      2018 Copyright
    </div>
    <div class="float-none float-md-right">
      <div class="text-white">
        <a href="" class="d-inline-block">Terms</a> |
        <a href="" class="d-inline-block">Privacy</a>
      </div>
    </div>
  </div>

</div>