.footer-sec {
  padding: 20px;
  a {
    //   color: #fff;
    display: block;
    text-transform: uppercase;
    margin: 5px;
    &:hover {
      //   color: #fff;
      display: block;
      text-transform: uppercase;
      margin: 5px;
    }
  }
}

// .border-center::after {
//   border: 1px solid white;
//   margin-top: 10px;
//   // position: absolute;
// }

.footer-title {
  color: #fff;
}

.border-center {
  background: #fff;
  height: 1px;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 0;
}

.connect-text {
  height: 50px;
  top: 0;
  padding: 0 10%;
  width: 100%;
  margin: 0 15px;
  > div {
    background-color: black;
    z-index: 2;
    padding: 0 10px;
  }
}

.footer-social i {
  font-size: 2rem;
  padding: 8px;
}

h2.connect {
  text-transform: uppercase;
  span {
    text-transform: lowercase;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
  }
}