.container-fluid {
    min-height: 90vh;
}

.list-group-item.active {
    z-index: 2;
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
}

#logo{
    width: 50%;
}

