 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/admin-portal">
      <img [src]="'assets/img/logo.png'" id="logo" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/admin-portal">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container-fluid mt-5">

  <div class="row">

    <div class="col-lg-2 mt-5">
      <div class="list-group">
        <a  class="list-group-item  cursor-pointer" [ngClass]="{'active':viewType=='Users'}" (click)="ViewChange('Users');">Users</a>
        <a  class="list-group-item cursor-pointer" [ngClass]="{'active':viewType=='Category'}" (click)="ViewChange('Category');">Category</a>
        <a  class="list-group-item cursor-pointer" [ngClass]="{'active':viewType=='Polls'}" (click)="ViewChange('Polls');">Polls</a>
        <a  class="list-group-item cursor-pointer" [ngClass]="{'active':viewType=='AMA'}" (click)="ViewChange('AMA');">AMA</a>
        <a  class="list-group-item cursor-pointer" [ngClass]="{'active':viewType=='Posts'}" (click)="ViewChange('Posts');">Posts</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-10 mt-5">

      <!-- <pre>
        {{_baseService.currentUser | json}}
      </pre> -->

      <div *ngIf="viewType=='Users'">
          <app-users></app-users>
      </div>

      <div *ngIf="viewType=='Category'">
          <app-category></app-category>
      </div>

      <div *ngIf="viewType=='Polls'">
          <app-admin-polls></app-admin-polls>
      </div>

      <div *ngIf="viewType=='AMA'">
          <app-admin-ama></app-admin-ama>
	  </div>
	  
	  <div *ngIf="viewType=='Posts'">
		<app-admin-posts></app-admin-posts>
	</div>


    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Supertrends 2018</p>
  </div>
  <!-- /.container -->
</footer>