<app-header></app-header>


<div class="container my-5">
  <h2 class="text-uppercase">

    What will be the best time to invest in tech this year?
  </h2>

  <div class="mt-5">

    <div class="row mx-0">

      <div class="col-md-4 col-12  border-right">
        <img src="../../assets/img/gray-up-arrow.png" alt="">
        <h2 class="d-inline-block text-lblue">2,745</h2>
        <br/> Responses

      </div>
      <div class="col-md-8 col-12 checklist-outer">
        <h5>Vote now to see data:</h5>

        <div class="d-flex justify-content-between flex-wrap">

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">JAN
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">FEB
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">MAR
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">APR
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">MAY
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">JUN
            </label>
          </div>

        </div>
        <div class="d-flex justify-content-between flex-wrap">

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">JUL
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">AUG
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">SEP
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">OCT
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">NOV
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">DEC
            </label>
          </div>

        </div>


        <div class="text-center mt-5">

          <h4 class="">
            <a href="">VOTE</a>
          </h4>

          <h5><a href="">Skip</a></h5>
        </div>
        

      </div>
    </div>
  </div>


</div>