.card-header {
    background-image: url("../../assets/img/touch.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    position: relative;
  }
  
  .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    width: 100%;
    background-attachment: fixed;
  }
  
  .card-title{
      position: absolute;
      top: 0;
      padding: 20px;
      font-weight: 500;
  }
  .card-category{
      position: absolute;
      bottom: 0;
      padding: 10px;
  }
  

  .custom-search{
    border-radius: 25px;
  }
.edit_delete{
  cursor: pointer;
}
  
/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }
  
  .block-with-text {
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
  }


  .min_height{
    min-height: 90vh;
  }

  
.select{
  border-bottom: 1px solid #d8d8d8 !important;
  border: none;
}


.md-form label {
  position: absolute;
  top: 0.65rem;
  left: 0;
  transition: 0.2s ease-out;
  cursor: text;
  color: #908f8f;
  font-weight: 500;
}

.disabled, :disabled {
  /* pointer-events: none !important; */
  cursor: not-allowed !important;
}