<app-header></app-header>

<div class="container grey-text py-4 " *ngIf="isFormShow">
  <h2 class="h2-responsive blAskack-text text-uppercase mb-4">
    {{isEdit?"Update":"Ask"}} a Question
  </h2>
  <section>
    <div class="row mx-0">
      <div class="col-lg-2 col-12 poll-photo">
       
        <!-- <div class="poll-photo">
          <img class="img-fluid profile_img" [src]="_baseService.currentUser.picture">
        </div> -->

        <div class="poll-photo" *ngIf="tempPreview">
            <img class="img-fluid profile_img" [src]="tempPreview">
          </div>
          <div class="poll-photo" *ngIf="!tempPreview">
            <img class="img-fluid profile_img" [src]="defaultImage">
          </div>

          

        <small class="cursor-pointer" (click)="file.click()"> + Add Photo</small>


        <!-- Profile Picture Update Code -->
        <div class="hide">
          <input type="file" name="file" #file ng2FileSelect [uploader]="uploader" (change)="onFileChange($event)" class="form-control input-file"
            accept="image/*" />
        </div>
        <!-- Profile Picture Update Code -->

      </div>

      <div class="col-lg-10 col-12">

        <form enctype="multipart/form-data">

          <div class="md-form">
            <label for="Category" class="">Select a Category</label>
            <select [(ngModel)]="FormObject.Category" name="Category" class="form-control select" mdbInputDirective>
              <option *ngFor="let category of _baseService.allLatestCategories" [value]="category.id">{{category.name}}</option>
            </select>

          </div>


          <div class="md-form">
            <input mdbInputDirective [(ngModel)]="FormObject.Title" name="Title" type="text" class="form-control">
            <label for="Title" class="">Add a Question</label>
          </div>
          <div class="md-form">
            <input mdbInputDirective [(ngModel)]="FormObject.Description" name="Description" type="text" class="form-control">
            <label for="Description" class="">Add a description</label>
          </div>


            <!-- <button type="submit" class="btn blue-outline-btn btn-rounded" [disabled]="QuestionForm.invalid"
              mdbWavesEffect>
              {{isEdit?"Update Question":"Create Question"}}
            </button> -->

            <button type="button" class="btn-outline-blue" [ngClass]="{'disabled':!(FormObject.Title && FormObject.Description  && FormObject.Category)}"
            [disabled]="!(FormObject.Title && FormObject.Description   && FormObject.Category)" (click)="onQuestionFormSubmit()"
            mdbWavesEffect>
            Create Question</button>

            <button class="btn-outline-blue  ml-3" (click)="showHideQuestionForm(false);">
              Back
            </button>




        </form>


      </div>
    </div>

  </section>

</div>


<pre-loader *ngIf="_baseService.isLoader"></pre-loader>

<div class="p-3 container min_height" *ngIf="!isFormShow">

  <ng-container *ngIf="showDetails">
    <app-question-detail [selectedItem]="selectedItem" [type]="'Question'" (isBack)="handleBackChange($event)"></app-question-detail>
  </ng-container>
 
 
  <ng-container *ngIf="!showDetails">

    <div>
      <h2 class="h2-responsive">Q &amp; A
        <div class="d-inline-block blue-outline-btn pull-right btn_sm" (click)="showHideQuestionForm(true);">
          Ask a Question
        </div>
      </h2>


      <div class="d-flex align-items-center">
        <div class="btn-group custom-dropdown grey-text" mdbDropdown>
          <span class="grey-text font-weight-bold">
            Search in:
          </span>
          <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
            {{selectedCategory.name}}
          </button>

          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" (click)="selectCategory('All')">All</a>
            <a class="dropdown-item" *ngFor="let category of _baseService.allLatestCategories" (click)="selectCategory(category)">{{category.name}}</a>
          </div>
        </div>

        <div class="ml-5">
          <input type="text" class="custom-search" [(ngModel)]="SearchKeyword" placeholder=" Search a question...">

        </div>


        <div class="text-grey ml-auto">

            <div class="btn-group custom-dropdown" mdbDropdown>
                <span class="grey-text"> SORT BY:</span>
                <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
                   {{isOrderby?'Newest':'Oldest'}}
                </button>
    
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" (click)="selectOrderBy(true)">Newest</a>
                  <a class="dropdown-item" (click)="selectOrderBy(false)">Oldest</a>
                </div>
              </div>

        </div>


      </div>

    </div>

    <div class="row mx-0">

     
      <div class="my-3 mx-auto" *ngFor="let data of _baseService.allLatestQuestions.newly  | filters:SearchKeyword | categoryFilters:selectedCategory.name  | orderByDate : 'createdAt': isOrderby">
        <div class="row mx-0 position-relative my-2 z-depth-1 cursor-pointer " (click)="ViewItem(data)">
          <div class="col-4  pl-0 ">
            <div class="position-relative">
              <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
            <img class="img-fluid" [defaultImage]="defaultImage" [lazyLoad]="data.picture" [useSrcset]="true" [offset]="offset">

              <div class="overlay"></div>
            </div>
          </div>
          <div class=" col-8 p-3  d-flex flex-column">

            <div class="">


              <div class="clearfix f-14">
                <span class="d-inline-block pull-right categoryName">{{ data.category?data.category.name:'' }}</span>
              </div>
              <div class="f-14 d-flex align-items-center">
                <div class="d-inline-block mr-3">
                  <!-- <img src="../../assets/img/profile.png" alt="" height="25" width="25"> -->
                  <img [src]="data.created_by.picture" alt="" class="profile_pic">
                </div>
                <div class="d-inline-block">
                  {{ data.created_by.firstName + data.created_by.lastName }}
                  <br />
                  <span>{{data.createdAt | timeAgo}}</span>
                </div>
              </div>
            </div>
            <div class="">

              <div class="mt-4">
                <h4 class="h4-responsive">{{ data.title }}</h4>
              </div>

              <div class="desc pb-3 block-with-text">
                {{ data.description }}
              </div>

              
              <div class="">
                <span class="cursor-pointer text-lblue f-14" >Read more..</span>
                <!-- <span class="cursor-pointer text-lblue f-14" (click)="viewQuestion(data)">more</span> -->
              </div>
            </div>
            <div class="clearfix mt-auto f-14 font-lfBold">
              <div class="float-right  grey-text">
                <span class="text-right d-inline-block mx-2">
                  <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.like_count?data.like_count:0 }}
                </span>
                <span class="text-right d-inline-block mx-2">
                  <img src="../../assets/img/message.png" alt=""> {{ data.comment_count?data.comment_count:0 }}
                </span>
              </div>

              <!-- <div class="float-left  grey-text " *ngIf="data.iscurrentUser">
                <span class="text-right d-inline-block mx-2 edit_delete" (click)="editQuestion(data)">
                  Edit
                </span>

                |

                <span class="text-right d-inline-block mx-2 edit_delete" (click)="DeleteQuestionsByID(data.id)">
                  Delete
                </span>

              </div> -->

            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12" *ngIf="(_baseService.allLatestQuestions.newly   | filters:SearchKeyword | categoryFilters:selectedCategory.name).length==0">
        <h4 class=" text-center">
          No Data!
        </h4>
      </div>


    </div>
  </ng-container>


</div>