<app-header></app-header>
<pre-loader *ngIf="_baseService.isLoader"></pre-loader>
<ng-container *ngIf="isListPage">
	<div class="container grey-text py-4" *ngIf="isFormShow">
		<h2 class="h2-responsive blAskack-text text-uppercase mb-4">
		  ASK ME ANYTHING
		</h2>
		<section class="">
		  <div class="row">
			<div class="col-lg-2 col-12 poll-photo">
			  <!-- <img src="../../assets/img/touch.jpg" alt="" class="img-fluid">
			  <input type="file" class="img-upload-btn" placeholder="+ Add Photo"> -->
				  <img class="img-fluid"  *ngIf="tempPreview" [src]="tempPreview">
				  <img class="img-fluid" *ngIf="!tempPreview" [src]="defaultImage">
		  
				  <small style="margin: 55px 0px 5px 39px;" class="cursor-pointer" (click)="file.click()"> + Add Photo</small>
		  
		  
				  <!-- Profile Picture Update Code -->
				  <div class="hide">
					<input type="file" name="file" #file ng2FileSelect [uploader]="uploader" (change)="onFileChange($event)" class="form-control input-file"
					  accept="image/*" />
				  </div>
				  <!-- Profile Picture Update Code -->
		  
			  <!-- <div>
				  <p style="font-weight: 600px; margin-top: 41px"> <strong>ADD TAGS: </strong>
				  </p>
			  </div> -->
			  <div>
				  <p style="font-weight: 600px; margin-top: 41px"> <strong>SELECT START DATE: </strong>
				  </p>
				  <input type="text"
					  placeholder="MM/DD/YYYY"
					  class="form-control"
					  #dp="bsDatepicker"
					  bsDatepicker
					  [minDate]="minDate"
					  [bsValue]="startDate"
					  (bsValueChange)="onValueChange($event, 'startDate')">
					  <div class="form-group" style="font-weight: 600px; margin-top: 41px">
						  <p> <strong>START TIME: </strong>
						  </p>
						  <timepicker [(ngModel)]="startTime" ></timepicker>
						  <p> <strong> END TIME: </strong>
						  </p>
						  <timepicker [(ngModel)]="endTime"></timepicker>
					  </div>
					  <div class="form-group">
						  
					  </div>
			  </div>
			</div>
	  
			<div class="col-lg-10 col-12" style="padding-bottom: 232px">
			  <form *ngIf= "! isAMAQuestionCreate" [formGroup]="createAMAFORM" (ngSubmit)="createAMAList();">
	  
				  <div class="col-md-12">
					<div class="col">
		
					  <div class="btn-group custom-dropdown grey-text" mdbDropdown>
		
						<button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
						  Select a Category : <p *ngIf="selectedCategory.name">{{selectedCategory.name}}</p> <p *ngIf="!selectedCategory.name"> SELECT</p>
						</button>
		
						<div class="dropdown-menu dropdown-primary">
						  <a class="dropdown-item" (click)="selectCategory('All')">All</a>
						  <a class="dropdown-item" *ngFor="let category of _baseService.allLatestCategories" (click)="selectCategory(category)">{{category.name}}</a>
						</div>
		
					  </div>
					</div>
		
					<div class="md-form">
					  <input mdbInputDirective formControlName="hostName" type="text" id="hostName" class="form-control">
					  <label for="hostName" class="">Host Name</label>
					</div>
					<div class="md-form">
					  <input mdbInputDirective formControlName="hostNameDescriptor" type="text" id="hostNameDescriptor" class="form-control">
					  <label for="hostNameDescriptor" class="">Host Descriptior</label>
					</div>
					<div class="md-form">
					  <input mdbInputDirective formControlName="personalDescriptor" type="text" id="personalDescriptor" class="form-control">
					  <label for="personalDescriptor" class="">Add a Personal descriptor (Ex: UX Designer, UI Developer, etc..)</label>
					</div>
					<div class="md-form">
					  <input mdbInputDirective formControlName="title" type="text" id="title" class="form-control">
					  <label for="title" class="">Title</label>
					</div>
					<div class="md-form">
					  <input mdbInputDirective formControlName="description" type="text" id="description" class="form-control">
					  <label for="description" class="">Add a description about the event..</label>
					</div>
					<div class="md-form">
					  <input mdbInputDirective formControlName="tags" name="Tags" type="text" class="form-control">
					  <label for="tags" class="">Add a Tag (Ex: Tag1,Tag 2, etc..)</label>
					</div>
					<div style="margin: 70px">
					  <button type="submit" class="btn blue-outline-btn btn-rounded" [disabled]="createAMAFORM.invalid"
					  mdbWavesEffect>
					  {{ formButtonsDisplayName }}
					</button>
		
					<button class="btn blue-outline-btn btn-rounded" (click)="showHideQuestionForm(false);">
					  Back
					</button>
					</div>
					
				  </div>
		
				</form>
			</div>
		  </div>
	  
		</section>
	  
	  </div>
	  
	  <div class="container" *ngIf="!isFormShow">
		<div class="mt-4">
		  <h2 class="h2-responsive">AMA<small>S</small>
			  <div class="d-inline-block blue-outline-btn pull-right btn_sm" (click)="createAMA()" *ngIf="_baseService.currentUser.isAdmin">
					  Create AMA
			  </div>
		  </h2>
		  <div class="d-flex align-items-center pb-4">
			<div class="btn-group custom-dropdown grey-text" mdbDropdown>
			  <span class="grey-text font-weight-bold">
				Search by Category:
			  </span>
			  <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
					  {{ selectedCategory.name }}
			  </button>
				<div class="dropdown-menu dropdown-primary">
				  <a class="dropdown-item" (click)="selectCategory('All')">All</a>
				  <a class="dropdown-item" *ngFor="let category of _baseService.allLatestCategories" 
				  (click)="selectCategory(category)">{{category.name}}</a>
			  </div>
			</div>
		  <div class="ml-5">
			  <div class="custom-search" placeholder=" Search...">
				   <input type="text" class="search-icon" [(ngModel)]="SearchKeyword" placeholder=" Search ...">
			  </div>
		  </div>
	  
		  </div>
		</div>
		<div class="d-flex mt-4 align-items-center" *ngIf="discussionData">
		  <h3 class="h3-responsive" *ngIf="(discussionData[selectedType] | filters:SearchKeyword | categoryFilters:selectedCategory.name).length>0">{{detailsPageLabel}}</h3>
		  <div class="text-grey ml-auto" *ngIf="(discussionData.newly | filters:SearchKeyword | categoryFilters:selectedCategory.name).length>0">
			<div class="btn-group custom-dropdown" mdbDropdown>
			  <span class="grey-text"> SORT BY:</span>
			  <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
				  {{isOrderby?'Oldest': 'Newest'}}
			  </button>
	  
			  <div class="dropdown-menu dropdown-primary">
				  <a class="dropdown-item" (click)="selectOrderBy(false)">Newest</a>
					<a class="dropdown-item" (click)="selectOrderBy(true)">Oldest</a>
			  </div>
			</div>
	  
		  </div>
		</div>
		<div *ngIf='discussionData && ! showRecentAMAsDeatailsToggle'>
			  <div *ngIf="(discussionData[selectedType] | filters:SearchKeyword | categoryFilters:selectedCategory.name).length>0">
				  <div class="rounded z-depth-1-half mt-2 mb-5" *ngFor="let data of discussionData[selectedType] | filters:SearchKeyword | categoryFilters:selectedCategory.name | orderByDate : 'startDate': isOrderby; let i=index;">
			  <div class="row mx-0" *ngIf="i==0" >
				<div class="col-4 pt-4 d-flex flex-column">
					<!-- <div>
						<strong><p class="f-14">{{ data. }}</p></strong>
					</div> -->
				  <div>
					<strong><p class="f-14">{{ data.category.name }}</p></strong>
				  </div>
		  
				  <div class="mt-3">
					<h3 class="h3-responsive">
					  {{data.hostname }}
					</h3>
					<h2 class="h2-responsive">{{ data.startDate | date :"MMMM d, y"}} @ {{ data.startDate | date : 'h:mm a' }}</h2>
					<p class="description_wrap">
					  {{ data.description }}
					</p>
				  </div>
				  <div class="clearfix mt-auto">
					<div>
					  <strong><p (click)="navidateToAMAsDetailsPage()" style="cursor: pointer;color: #0e6ed4;font-size: 33px">Read More.....</p></strong>
					  <div class="float-right m-2">
						<div class="text-right d-inline-block mx-2">
						  <a class="like cursor-pointer">
							<i class="fa fa-thumbs-o-up detail_like"></i>
							<span>{{data.like_count?data.like_count:0 }}</span>
						  </a>
						</div>
					  </div>
					  <div class="float-right m-2">
						  <img src="../../assets/img/message.png" alt="">  {{data.comment_count?data.comment_count:0 }}
					  </div>
					</div>
				  </div>
		  
				</div>
				<div class="col-8 p-0">
		  
				  <img style="width: 100%; height: 100%;" [src]="data.picture" class="img-fluid" alt="">
				</div>
		  
			  </div>
		  
		  
			</div>
			  <div>
				  
			  </div>
			  </div>
		  
		</div>
		<div *ngIf='showRecentAMAsDeatailsToggle'>
			<div *ngIf="(discussionData[selectedType] | filters:SearchKeyword | categoryFilters:selectedCategory.name).length>0">
				  <div class="rounded z-depth-1-half mt-2 mb-5">
						  <div class="row mx-0">
							<div class="col-4 pt-4 d-flex flex-column">
							  <div>
								<p class="f-14">{{ showRecentAMAsDeatails.category.name }}</p>
							  </div>
					  
							  <div class="mt-3">
									<h3 class="h3-responsive">
										{{showRecentAMAsDeatails.hostname }}
									</h3>
								<h2 class="h2-responsive">{{ showRecentAMAsDeatails.startDate | date :"MMMM d, y"}} @ {{ showRecentAMAsDeatails.startDate | date : 'h:mm a' }}</h2>
								<p class="description_wrap">
								  {{ showRecentAMAsDeatails.description }}
								</p>
							  </div>
							  <div class="col" *ngIf="assignAdminForAnswer">
						
								  <div class="btn-group custom-dropdown grey-text" mdbDropdown>
					  
									<button mdbDropdownToggle type="button" *ngIf="assignAndReassignLabel == 'Assign'" class="btn dropdown-toggle waves-light" mdbWavesEffect>
									  Select Admin User : <p *ngIf="selectedUser.firstName || selectedUser.lastName">{{selectedUser.firstName}} - {{selectedUser.lastName}}</p>
									</button>
					  
									<div class="dropdown-menu dropdown-primary" *ngIf="assignAndReassignLabel == 'Assign'">
									  <a class="dropdown-item" (click)="assignAndReassignForAdmin('All')">All</a>
									  <a class="dropdown-item" *ngFor="let adminUser of _baseService.adminUserList" (click)="assignAndReassignForAdmin(adminUser)">{{adminUser.firstName}} : {{adminUser.lastName}}</a>
									</div>
									<button mdbDropdownToggle type="button" *ngIf="assignAndReassignLabel == 'Re-Assign'" class="btn dropdown-toggle waves-light" mdbWavesEffect>
									  Select Admin User : <p *ngIf="selectedUser.owner.firstName || selectedUser.owner.lastName">{{selectedUser.owner.firstName }} - {{selectedUser.owner.lastName }}</p>
									</button>
									<div class="dropdown-menu dropdown-primary" *ngIf="assignAndReassignLabel == 'Re-Assign'">
									  <a class="dropdown-item" (click)="assignAndReassignForAdmin('All')">All</a>
									  <a class="dropdown-item" *ngFor="let assignedAMA of myAssignedAMAList" (click)="assignAndReassignForAdmin(assignedAMA)">{{assignedAMA.owner.firstName}} : {{assignedAMA.owner.lastName}}</a>
									</div>
					  
								  </div>
								  <div (click)=assignAndReAssignForAnswer()>{{ assignAndReassignLabel }}</div>
								  <div (click)=resetAssignAndReassign()>cancel</div>
							  </div>
					  
							  
							  <div class="clearfix mt-auto">
								<div>
									<strong><p (click)="navidateToAMAsDetailsPage()" style="cursor: pointer;color: #0e6ed4;font-size: 33px">Read More.....</p></strong>
								  <!-- <div class="float-right m-2">
									<img src="../../assets/img/message.png" alt=""> {{ showRecentAMAsDeatails.like_count ?showRecentAMAsDeatails.like_count:0}}
								  </div> -->
								  <div class="float-right m-2">
									<div class="text-right d-inline-block mx-2">
									  <a class="like cursor-pointer">
										<i class="fa fa-thumbs-o-up detail_like"></i>
										<span>{{showRecentAMAsDeatails.like_count?showRecentAMAsDeatails.like_count:0 }}</span>
									  </a>
									</div>
								  </div>
								  <div class="float-right m-2">
									<img src="../../assets/img/message.png" alt="">{{showRecentAMAsDeatails.comment_count?showRecentAMAsDeatails.comment_count:0 }}
								  </div>
								</div>
							  </div>
					  
							</div>
							<div class="col-8 p-0">
							  <img style="width: 100%; height: 100%;" [src]="showRecentAMAsDeatails.picture" class="img-fluid" alt="">
							</div>
					  
						  </div>
					  
					  
				  </div>
			</div>
			  
		</div>
			<h4 class="h4-responsive">Starting Soon</h4>
		<div *ngIf="discussionData">
		  <div class="container" *ngIf="(discussionData.newly | filters:SearchKeyword | categoryFilters:selectedCategory.name).length>0 && !isViewMoreToggle">
			<div class="row mx-0">
	  
			  <div class=" col-4 my-2" *ngFor="let data of discussionData.newly | slice:0:3 | filters:SearchKeyword | categoryFilters:selectedCategory.name | orderByDate : 'startDate': isOrderby; let i=index;" (click)="showAMAsDetails(data, 'Starting Soon')">
				<div class="card">
	  
				  <!--Card image-->
				  <img class="img-cover" style="width: 100%;height: 100%;" *ngIf="data.picture" [defaultImage]="defaultImage" [lazyLoad]="data.picture" alt="Card image cap">
	  
				  <!--Card content-->
				  <div class="card-body">
	  
					<div class="card-category f-12">{{ data.category.name }}</div>
	  
					<div class="d-flex justify-content-between">
					  <div class="">
						<h5 class="m-0"> {{ data.user }}</h5>
						<br/> {{ data.startDate | date :"MMMM d, y"}} @ {{ data.startDate | date : 'h:mm a' }}
					  </div>
	  
					  <div class="float-right m-2">
						  <div class="text-right d-inline-block mx-2">
							<a class="like cursor-pointer">
							  <i class="fa fa-thumbs-o-up detail_like"></i>
							  <span>{{data.like_count?data.like_count:0 }}</span>
							</a>
						  </div>
						</div>
						<div class="float-right m-2">
						  <img src="../../assets/img/message.png" alt="">{{data.comment_count?data.comment_count:0 }}
						</div>
					</div>
				  </div>
	  
				</div>
			  </div>
			</div>
			<div class="clearfix mb-5">
	  
			  <div class="float-right">
				<a class="text-lblue" (click)="viewALLAMAs()">{{isViewMoreToggle ? 'Less': 'MORE'}}</a>
			  </div>
			</div>
		  </div>
		  <div class="container" *ngIf="(discussionData.newly | filters:SearchKeyword | categoryFilters:selectedCategory.name).length>0 && isViewMoreToggle">
			  <div class="row mx-0">
		
				<div class=" col-4 my-2" *ngFor="let data of discussionData.newly | filters:SearchKeyword | categoryFilters:selectedCategory.name | orderByDate : 'startDate': isOrderby; let i=index;" (click)="showAMAsDetails(data, 'Starting Soon')">
				  <div class="card">
		
					<!--Card image-->
					<img class="img-cover" style="width: 100%;height: 100%;" *ngIf="data.picture" [defaultImage]="defaultImage" [lazyLoad]="data.picture" alt="Card image cap">
		
					<!--Card content-->
					<div class="card-body">
		
					  <div class="card-category f-12">{{ data.category.name }}</div>
		
					  <div class="d-flex justify-content-between">
						<div class="">
						  <h5 class="m-0"> {{ data.user }}</h5>
						  <br/> {{ data.startDate | date :"MMMM d, y"}} @ {{ data.startDate | date : 'h:mm a' }}
						</div>
		
						<div class="float-right m-2">
							<div class="text-right d-inline-block mx-2">
							  <a class="like cursor-pointer">
								<i class="fa fa-thumbs-o-up detail_like"></i>
								<span>{{data.like_count?data.like_count:0 }}</span>
							  </a>
							</div>
						  </div>
						  <div class="float-right m-2">
							<img src="../../assets/img/message.png" alt="">{{data.comment_count?data.comment_count:0 }}
						  </div>
					  </div>
					</div>
		
				  </div>
				</div>
			  </div>
			  <div class="clearfix mb-5">
		
				<div class="float-right">
				  <a class="text-lblue" (click)="viewALLAMAs()">{{isViewMoreToggle ? 'Less': 'MORE'}}</a>
				</div>
			  </div>
			</div>
		  <div class="col-md-12" style="padding: 13%;" *ngIf="(discussionData.newly | filters:SearchKeyword | categoryFilters:selectedCategory.name).length==0">
			  <h4 class=" text-center">
				No Data!
			  </h4>
		  </div>
		</div>
		<h4 class="h4-responsive">Passed AMA's</h4>
		<div *ngIf="discussionData">
		  <div class="container" *ngIf="(discussionData.passedAMAs | filters:SearchKeyword | categoryFilters:selectedCategory.name).length>0 && !isViewMoreToggle">
			<div class="row mx-0">
	  
			  <div class=" col-4 my-2" *ngFor="let data of discussionData.passedAMAs | slice:0:3 | filters:SearchKeyword | categoryFilters:selectedCategory.name | orderByDate : 'startDate': isOrderby; let i=index;" (click)="showAMAsDetails(data, 'Passed AMAs')">
				<div class="card">
	  
				  <!--Card image-->
				  <img class="img-cover" style="width: 100%;height: 100%;" *ngIf="data.picture" [defaultImage]="defaultImage" [lazyLoad]="data.picture" alt="Card image cap">
	  
				  <!--Card content-->
				  <div class="card-body">
	  
					<div class="card-category f-12">{{ data.category.name }}</div>
	  
					<div class="d-flex justify-content-between">
					  <div class="">
						<h5 class="m-0"> {{ data.user }}</h5>
						<br/> {{ data.startDate | date :"MMMM d, y"}} @ {{ data.startDate | date : 'h:mm a' }}
					  </div>
	  
					  <div class="float-right m-2">
						  <div class="text-right d-inline-block mx-2">
							<a class="like cursor-pointer">
							  <i class="fa fa-thumbs-o-up detail_like"></i>
							  <span>{{data.like_count?data.like_count:0 }}</span>
							</a>
						  </div>
						</div>
						<div class="float-right m-2">
						  <img src="../../assets/img/message.png" alt="">{{data.comment_count?data.comment_count:0 }}
						</div>
					</div>
				  </div>
	  
				</div>
			  </div>
			</div>
			<div class="clearfix mb-5">
	  
			  <div class="float-right">
				<a class="text-lblue" (click)="viewALLAMAs()">{{isViewMoreToggle ? 'Less': 'MORE'}}</a>
			  </div>
			</div>
		  </div>
		  <div class="container" *ngIf="(discussionData.passedAMAs | filters:SearchKeyword | categoryFilters:selectedCategory.name).length>0 && isViewMoreToggle">
			  <div class="row mx-0">
		
				<div class=" col-4 my-2" *ngFor="let data of discussionData.passedAMAs | filters:SearchKeyword | categoryFilters:selectedCategory.name | orderByDate : 'startDate': isOrderby; let i=index;" (click)="showAMAsDetails(data, 'Passed AMAs')">
				  <div class="card">
		
					<!--Card image-->
					<img class="img-cover" style="width: 100%;height: 100%;" *ngIf="data.picture" [defaultImage]="defaultImage" [lazyLoad]="data.picture" alt="Card image cap">
		
					<!--Card content-->
					<div class="card-body">
		
					  <div class="card-category f-12" *ngIf="data.category">{{ data.category.name }}</div>
		
					  <div class="d-flex justify-content-between">
						<div class="">
						  <h5 class="m-0"> {{ data.user }}</h5>
						  <br/> {{ data.startDate | date :"MMMM d, y"}} @ {{ data.startDate | date : 'h:mm a' }}
						</div>
		
						<div class="float-right m-2">
							<div class="text-right d-inline-block mx-2">
							  <a class="like cursor-pointer">
								<i class="fa fa-thumbs-o-up detail_like"></i>
								<span>{{data.like_count?data.like_count:0 }}</span>
							  </a>
							</div>
						  </div>
						  <div class="float-right m-2">
							<img src="../../assets/img/message.png" alt="">{{data.comment_count?data.comment_count:0 }}
						  </div>
					  </div>
					</div>
		
				  </div>
				</div>
			  </div>
			  <div class="clearfix mb-5">
		
				<div class="float-right">
				  <a class="text-lblue" (click)="viewALLAMAs()">{{isViewMoreToggle ? 'Less': 'MORE'}}</a>
				</div>
			  </div>
			</div>
		  <div class="col-md-12" style="padding: 13%;" *ngIf="(discussionData.passedAMAs | filters:SearchKeyword | categoryFilters:selectedCategory.name).length==0">
			  <h4 class=" text-center">
				No Data!
			  </h4>
		  </div>
		</div>
	  </div>
</ng-container>
<ng-container *ngIf="!isListPage">
	<app-ama-detail
		[selectedItem]="selectedItem" 
		(isBack)="handleBackChange($event)">
	</app-ama-detail>
</ng-container>