<pre-loader *ngIf="_baseService.isLoader"></pre-loader>
<tabset>
    <tab heading="All Categories" id="tab1">
  
        <div class="card mt-2">
            <div class="card-body">
				<button type="button" (click)="selectCategory(null, 'isCategoryAdd')" (click)="basicModal.show()"  class="btn btn-success btn-sm"><i style="margin: 5px" class="fa fa-plus"></i></button>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th width="20%">Actions</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="_baseService.allLatestCategories">
                      <tr *ngFor="let category of _baseService.allLatestCategories" >
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>
                            <button type="button" (click)="selectCategory(category, 'isCategoryEdit')" (click)="basicModal.show()" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></button>
							<button  (click)="selectCategory(category)" (click)="basicModal.show()" type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button>
                        </td>
                    </tbody>
                  </table>
  
            </div>
          </div>
  
  
    
  
  
    </tab>
    <!-- <tab [heading]="formButtonsDisplayName">
        <div class="card mt-2">
            <div class="card-body">
             
                <form [formGroup]="createCategoryForm" (ngSubmit)="createCategory();">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="categoryName">Category Name</label>
                        <input formControlName="categoryName" type="text" class="form-control" name="name" placeholder="Category Name">
                      </div>
                   
                    </div>
  
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="description">Description</label>
                          <textarea  formControlName="description" class="form-control" name="description" rows="3" placeholder="Category Description"></textarea>
                        </div>
                      
                      </div>
                  
  
                    <button type="submit" class="btn btn-primary" [disabled]="createCategoryForm.invalid">{{formButtonsDisplayName}}</button>
                    <button type="reset" class="btn btn-danger ml-2">Cancel</button>
  
                  </form>
  
            </div>
          </div>
  
  
    </tab> -->
  </tabset>
<!-- Central Modal Medium Danger -->
<div  mdbModal #basicModal="mdb-modal" class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-danger" role="document">
    <!--Content-->
    <div  *ngIf="!isCategoryEdit" class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Are you sure wants to delete this Category?</p>

        <button #modalDismiss type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <p>This actions can not be undone.</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-danger" (click)="removeCategory()">Yes</a>
        <a type="button" class="btn btn-outline-danger waves-effect" (click)="basicModal.hide()">No</a>
      </div>
    </div>
	<!--/.Content-->
	<!--Content-->
    <div *ngIf="isCategoryEdit" class="modal-content">
			<!--Header-->
			<div class="modal-header">

			  <p class="heading lead text-center">{{ formButtonsDisplayName }}</p>
	  
			  <button #modalDismiss type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()" (click)="resetMDBModal()">
				<span aria-hidden="true" class="white-text">&times;</span>
			  </button>
			</div>
	  
			<!--Body-->
			<div class="modal-body">
					<div class="card mt-2">
							<div class="card-body">
							 
								<form [formGroup]="createCategoryForm" (ngSubmit)="categoryAction();">
									<div class="form-row">
									  <div class="form-group col-md-12">
										<label for="categoryName">Category Name</label>
										<input formControlName="categoryName" type="text" class="form-control" name="name" placeholder="Category Name">
									  </div>
								   
									</div>
				  
									<div class="form-row">
										<div class="form-group col-md-12">
										  <label for="description">Description</label>
										  <textarea  formControlName="description" class="form-control" name="description" rows="3" placeholder="Category Description"></textarea>
										</div>
									  
									  </div>
								  
				  
									<button type="submit" class="btn btn-primary" [disabled]="createCategoryForm.invalid">{{formButtonsDisplayName}}</button>
									<button *ngIf="isCategoryAdd" type="reset" class="btn btn-danger ml-2">Reset</button>
									<button *ngIf="!isCategoryAdd" class="btn btn-danger ml-2" (click)="basicModal.hide()" (click)="resetMDBModal()">Cancel</button>
								  </form>
				  
							</div>
						  </div>
			</div>
	
		  <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Danger-->
