<section>
  <div class="dark-blue">
    <div class="d-flex flex-column text-center pt-3">

      <div class="py-2 py-md-4 py-lg-5">
        <img src="../../assets/img/logo.png" alt="" height="110">

      </div>

      <!-- timer section start -->
      <div class="" *ngIf="isNotify">
        <div class="py-4">
          <p class="white-text text-opacity-7 px-5">
            The world's biggest community of experts predicting the future will soon be live.
            <br /> We're working hard to give you the best experience!
          </p>
        </div>


        <div class="py-3 py-md-3 px-3 white-text text-opacity-9">
          <form method="POST">
            <div class="md-form input-group notify-outer mx-auto">
              <input mdbInputDirective [(ngModel)]="notifyMail" type="email" class="form-control input_white" id="notifyMail"
                name="email" autocomplete="off" dbInputDirective>
              <label class="white-text text-opacity-7" for="notifyMail">Your Email</label>
              <div class="input-group-btn">
                <button class="btn waves-light custom-outline-btn rounded-rb text-uppercase text-lblue fs-16" type="submit"
                  [disabled]="!notifyMail" (click)="onFormSubmit();" mdbWavesEffect>Notify me</button>
              </div>
            </div>
          </form>
        </div>

        <div class="py-2 py-md-4 white-text">
          <div class="launch-timer-outer">
            <countdown-timer [end]="'2018-08-18 00:00:00'"></countdown-timer>
            <div class="timer-tag">
              <span>Days</span>
              <span>Hours</span>
              <span>Minutes</span>
              <span>Seconds</span>
            </div>
          </div>
        </div>
      </div>

      <!-- timer section end -->


      <!-- invite section start -->
      <div class="invite-sec" *ngIf="showInvite ">
        <div class="py-4">
          <p class="white-text text-opacity-7 px-5">
            Thanks for your interest! Now...
          </p>

          <p class="text-lblue text-uppercase fs-26">
            Invite friends &amp; earn amazing rewards!

          </p>

          <div>
            <p class=" text-opacity-9 px-5 ">
              <a class="white-text custom-outline-btn rounded-rb mx-auto px-4 cursor_pointer input_white">
                {{inviteRef}}
              </a>
            </p>
            <p class=" text-white text-opacity-7 mb-5 ">
              Copy &amp; Paste or <a [href]="inviteRef" target="_blank">Click &amp; Share! </a>
            </p>

            <p class=" text-white text-opacity-7 mb-5 cursor_pointer" (click)="ShowHideBy('Login')">
              Skip
            </p>

          </div>

          <div class="share-counter-box">
            <p class="white-text text-opacity-7 mt-5">
              13 friends have joined. Keep sharing!
            </p>

          </div>
          <div class="row mx-0">
            <div class="col-md-12">

              <ul class="stepper stepper-horizontal">
                <li class="completed">
                  <a class="cursor_pointer">
                    <span class="circle">0</span>
                  </a>
                </li>
                <li class="completed">
                  <a class="cursor_pointer">
                    <span class="circle">5</span>
                  </a>
                </li>
                <li class="active">
                  <a class="cursor_pointer">
                    <span class="circle">10</span>
                  </a>
                </li>
                <li class="">
                  <a class="cursor_pointer">
                    <span class="circle">15</span>
                  </a>
                </li>
                <li class="">
                  <a class="cursor_pointer">
                    <span class="circle">20</span>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>


        <div class="">
          <h2 class="text-uppercase text-white fs-26 text-opacity-7 h2-responsive">View Rewards</h2>

          <div class="py-2 py-md-4 white-text">
            <div class="launch-timer-outer">
              <countdown-timer [end]="'2018-08-18 00:00:00'"></countdown-timer>
              <div class="timer-tag">
                <span>Days</span>
                <span>Hours</span>
                <span>Minutes</span>
                <span>Seconds</span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- invite section end -->


      <!-- login section start -->
      <div class="launch-login-sec" *ngIf="showLogin ">
        <div class="py-4">
          <p class="white-text text-opacity-7 px-5">
            The world's biggest community of experts predicting the future will soon be live.
            <br /> We're working hard to give you the best experience!
          </p>
        </div>
        <div class="py-3 py-md-3 px-3 white-text text-opacity-9">
          <div class="md-form mx-auto" style="width: 350px;">

            <form novalidate [formGroup]="userLoginForm" (ngSubmit)="onUserLoginFormSubmit()">

              <input mdbInputDirective formControlName="Email" minLength="3" maxLength="25" type="email" class="form-control input_white custom-outline-btn rounded-rb"
                id="loginUsername" name="loginUsername" placeholder="Username" autocomplete="off" mdbInputDirective>

              <input mdbInputDirective formControlName="Password" minLength="8" maxLength="25" type="password" class="form-control input_white custom-outline-btn rounded-rb"
                id="loginPwd" name="loginPwd" placeholder="Password" autocomplete="off" mdbInputDirective>

              <div class="">
                <button class="btn btn-transparent waves-light text-uppercase text-lblue fs-26" type="submit"
                  [disabled]="userLoginForm.invalid" mdbWavesEffect>SIGN IN</button>
              </div>

              <div class=" text-center">
                  (OR)
                  <p class="card-text">Sign in with</p>
                  <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle(true)"><span class="fa fa-google"></span></button>
                  <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB(true)"><span class="fa fa-facebook"></span></button>
              </div>

              <div>

                <br>
                Don't have an account!  <br>
                <button class="btn btn-transparent waves-light text-uppercase fs-16" type="button" (click)="ShowHideBy('SignUp')"
                  mdbWavesEffect>SIGN UP</button>

              </div>

            </form>

          </div>
        </div>

      </div>

      <!-- login section end -->

      <!-- signup section start -->
      <div class="launch-signup-sec" *ngIf="showSignup ">
        <div class="py-4">
          <p class="white-text text-opacity-7 px-5">
            The world's biggest community of experts predicting the future will soon be live.
            <br /> We're working hard to give you the best experience!
          </p>
        </div>
        <div class="py-3 py-md-3 px-3 white-text text-opacity-9">
          <h2 class="text-uppercase h2-responsive">Create an account</h2>

          <form novalidate [formGroup]="userRegistrationForm" (ngSubmit)="onUserRegistrationFormSubmit()">

            <div class="md-form mx-auto" style="max-width: 640px;">

              <div class="row mx-0">
                <input mdbInputDirective formControlName="FirstName" type="text" class="col form-control input_white custom-outline-btn rounded-rb"
                  id="loginFname" name="loginFname" placeholder="First Name" autocomplete="off" mdbInputDirective>

                <input mdbInputDirective formControlName="LastName" minLength="6" maxLength="25" type="text" class="col form-control input_white custom-outline-btn rounded-rb"
                  id="loginLname" name="loginLname" placeholder="Last Name" autocomplete="off" mdbInputDirective>

              </div>
              <div class="row mx-0 mt-2">
                <input mdbInputDirective formControlName="Email" maxLength="25" type="email" class="form-control input_white custom-outline-btn rounded-rb w-100"
                  style="max-width: 610px;" id="Username" name="Username" placeholder="Email" autocomplete="off" mdbInputDirective>
              </div>

              <div class="row mx-0 mt-2">
                <input mdbInputDirective formControlName="Password" minLength="6" maxLength="25" type="password" class="col form-control input_white custom-outline-btn rounded-rb"
                  id="CPwd" name="CPwd" placeholder="Password" autocomplete="off" mdbInputDirective>

                <input mdbInputDirective formControlName="CPassword" minLength="6" maxLength="25" type="password" class="col form-control input_white custom-outline-btn rounded-rb"
                  id="loginCPwd" name="loginCPwd" placeholder="Confirm Password" autocomplete="off" mdbInputDirective>

              </div>
              <div>
                <button class="btn btn-transparent waves-light text-uppercase text-lblue fs-26" type="submit"
                  [disabled]="userRegistrationForm.invalid" mdbWavesEffect>SIGN UP</button>

              </div>

              <div  class=" text-center">
                  (OR)
                  <p class="card-text">Sign up with</p>
                  <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle(false)"><span class="fa fa-google"></span></button>
                  <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB(false)"><span class="fa fa-facebook"></span></button>
              </div>

              <div>

                <br>
                Already have an account!  <br>
              
                <button class="btn btn-transparent waves-light text-uppercase fs-16" type="button" (click)="ShowHideBy('Login')"
                mdbWavesEffect>LOG IN</button>

              </div>

            
            </div>

          </form>

        </div>

      </div>
      <!-- signup section end -->



      <!-- Demographics section start -->
      <div class="launch-signup-sec-demo" *ngIf="showDemoGraphics">
        <div class="py-4">
          <p class="white-text text-opacity-7 px-5">
            Welcome to the world's biggest community of experts predicting the future.
            <br /> In order to provide the most detailed analysis of prediction, we need to know a
            <br> little bit about our users.
          </p>
          <h6 class="white-text ">This information is strictly for data analysis</h6>
        </div>
        <div class="py-3 py-md-3 px-3 white-text  text-opacity-9">
          <div class="md-form mx-auto" style="width: 28%;">

            <form novalidate>

              <div *ngIf="step==1">
                <h1>DEMOGRAPHICS</h1>
                <br>
               
                  <input class="form-control input_white custom-outline-btn rounded-rb select_dropdown"
                  [(ngModel)]="DemographicsInfo.DOB" name="DOB" placeholder="DOB" bsDatepicker (bsValueChange)="onValueChange($event)">

                  <input mdbInputDirective type="text" class="form-control input_white custom-outline-btn rounded-rb"
                    [(ngModel)]="DemographicsInfo.PlaceOfBirth" name="PlaceOfBirth" placeholder="Place of Birth"
                    autocomplete="off" mdbInputDirective>

                  <input mdbInputDirective type="text" class="form-control input_white custom-outline-btn rounded-rb"
                    [(ngModel)]="DemographicsInfo.City" name="City" placeholder="Place of Residency"
                    autocomplete="off" mdbInputDirective>



              </div>

              <div *ngIf="step==2">
                <h1>EDUCATION</h1>
                <br>
                <input mdbInputDirective type="text" class="form-control input_white custom-outline-btn rounded-rb"
                  [(ngModel)]="DemographicsInfo.Education" name="Education" placeholder="Education Level"
                  autocomplete="off"  mdbInputDirective>

                <input mdbInputDirective type="text" class="form-control input_white mt-2 custom-outline-btn rounded-rb"
                autocomplete="off"  [(ngModel)]="DemographicsInfo.Major" name="Major" placeholder="Major" mdbInputDirective>

                <input mdbInputDirective type="text" class="form-control input_white mt-2 custom-outline-btn rounded-rb"
                  [(ngModel)]="DemographicsInfo.Occupation" name="Occupation" placeholder="Occupation"
                  autocomplete="off" mdbInputDirective>

              </div>

              <div *ngIf="step==3">
                <h1>DETAILS</h1>
                <br>
             
                  <select [(ngModel)]="DemographicsInfo.Gender" name="Gender" class=" form-control custom-outline-btn gray-outline-btn rounded-rb select_dropdown"
                  mdbInputDirective>
                  <option value="" disabled selected>Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>


                <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                autocomplete="off"  [(ngModel)]="DemographicsInfo.Religion" name="Religion" placeholder="Religion"
                  mdbInputDirective>

                <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                  [(ngModel)]="DemographicsInfo.Interests" name="Interests" placeholder="Interests"
                  autocomplete="off"  mdbInputDirective>
              </div>


              <div class="row  mt-5">
                <div class="col-md-12 ">

                  <ul class="stepper stepper-horizontal">
                    <li class="" [ngClass]="{'active':step==1,'completed':(step==2 || step==3)}">
                      <a class="cursor_pointer" (click)="step=1">
                        <span class="circle">1</span>
                      </a>
                    </li>
                    <li  class="" [ngClass]="{'active':step==2,'completed':step==3}">
                      <a class="cursor_pointer" (click)="step=2">
                        <span class="circle">2</span>
                      </a>
                    </li>
                    <li class="active" [ngClass]="{'active':step==3,'completed':step==3}">
                      <a class="cursor_pointer" (click)="step=3">
                        <span class="circle">3</span>
                      </a>
                    </li>

                  </ul>

                </div>
              </div>


              <div *ngIf="step==1">
                <button class="btn btn-transparent waves-light text-uppercase text-lblue fs-26" type="button" (click)="step=2"
                  mdbWavesEffect>NEXT</button>
                <br>
                <button class="btn btn-transparent waves-light text-uppercase fs-16" type="button" (click)="step=2"
                  mdbWavesEffect>Skip</button>
              </div>

              <div *ngIf="step==2">
                <button class="btn btn-transparent waves-light text-uppercase text-lblue fs-26" type="button" (click)="step=3"
                  mdbWavesEffect>NEXT</button>
                <br>
                <button class="btn btn-transparent waves-light text-uppercase fs-16" type="button" (click)="step=3"
                  mdbWavesEffect>Skip</button>
              </div>

              <div *ngIf="step==3">
                <button class="btn btn-transparent waves-light text-uppercase text-lblue fs-26" type="button" (click)="confirmSubmit();"
                  mdbWavesEffect>Submit</button>
                <br>
                <button class="btn btn-transparent waves-light text-uppercase fs-16" type="button" (click)="confirmSubmit();"
                  mdbWavesEffect>Skip</button>
              </div>

            </form>

          </div>
        </div>

      </div>
      <!-- Demographics section end -->



    </div>
  </div>




  <div class=" full-view launch-bg">
  </div>
</section>