.launch-bg {
  background-image: url("../../assets/img/earth.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #070415;
  max-width: 100%;
}

.dark-blue {
  background-color: #070415;
}

.input_white {
  color: white !important;
}

.notify-outer {
  max-width: 420px;
}

.cursor_pointer{
  cursor: pointer;
}

.select_dropdown {
  border-bottom-right-radius: 27px !important;
  border: 1px solid #9c9c9c;
  margin: 5px;
  width: 116%;
  height: 42px !important;
  margin-left: -25px;
}



.launch-timer-outer {
  color: #fff;
  font-size: 34px;
  font-weight: 500;
  span {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 20px;
    font-weight: 100;
  }
}

.launch-login-sec-demo input,
.launch-signup-sec-demo input {
  border: solid 1px rgba(255, 255, 255, 0.7) !important;
  border-bottom-right-radius: 25px !important;
  max-width: 425px;
  margin: 10px 5px;
  margin-left: -25px;
  &:focus {
    border: solid 1px rgba(255, 255, 255, 0.7) !important;
    border-bottom-right-radius: 25px !important;
    max-width: 425px;
  margin: 10px 5px;
  margin-left: -25px;
  }
}

.launch-login-sec input,
.launch-signup-sec input {
  border: solid 1px rgba(255, 255, 255, 0.7) !important;
  border-bottom-right-radius: 25px !important;
  max-width: 425px;
  margin: 10px 5px;
  &:focus {
    border: solid 1px rgba(255, 255, 255, 0.7) !important;
    border-bottom-right-radius: 25px !important;
    max-width: 425px;
  margin: 10px 5px;
  }
}

.invite-sec .stepper {
  max-width: 600px;
  margin: auto;
}

.stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  li {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
  }
}

.stepper li a {
  // padding: 15px;
  // font-size: 14px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  span {
    height: 40px;
    width: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
  }
}

.stepper li.active a , .stepper li.completed a  {
  border: 2px solid #3090fd;
  color: #fff;
  background-color: transparent;
}

// .stepper li.completed a {
//   border: 1px solid #3090fd;
//   color: #fff;
// }


.stepper-horizontal li:not(:last-child):after {
  content: "";
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  height: 2px;
  // background-color: rgba(0,0,0,.1);
  background-color: rgba(255, 255, 255, 0.7);
  // background-color: #3090fd;
}

.stepper-horizontal li.active:not(:last-child):after , .stepper-horizontal li.completed:not(:last-child):after {
  background-color: #3090fd;

}



.btn-google {
  background: #ce2e2e;
}

.btn-facebook {
  background: #1e67b5;
}


