
.select{
    border-bottom: 1px solid #d8d8d8 !important;
    border: none;
}


.md-form label {
    position: absolute;
    top: 0.65rem;
    left: 0;
    transition: 0.2s ease-out;
    cursor: text;
    color: #908f8f;
    font-weight: 500;
}

.disabled, :disabled {
    /* pointer-events: none !important; */
    cursor: not-allowed !important;
}

.checklist-outer div.form-check{

    margin: 10px;
}