<!-- <app-header></app-header> -->
<div class="container grey-text py-4">
  <h2 class="h2-responsive black-text text-uppercase mb-4">Create a post</h2>

  <section class="">
    <div class="row mx-0">
      <div class="col-lg-2 col-12 poll-photo text-center">
        <div class="poll-photo" *ngIf="tempPreview">
          <img class="img-fluid profile_img" [src]="tempPreview">
        </div>
        <div class="poll-photo" *ngIf="!tempPreview">
          <img class="img-fluid profile_img" [src]="defaultImage">
        </div>

        <small class="cursor-pointer" (click)="file.click()"> + Add Photo</small>


        <!-- Profile Picture Update Code -->
        <div class="hide">
          <input type="file" name="file" #file ng2FileSelect [uploader]="uploader" (change)="onFileChange($event)" class="form-control input-file"
            accept="image/*" />
        </div>
        <!-- Profile Picture Update Code -->

      </div>

      <div class="col-lg-10 col-12">

        <form enctype="multipart/form-data">

          <div class="md-form">
            <label for="Category" class="">Select a Category</label>
            <select [(ngModel)]="postFormObject.Category" name="Category" class="form-control select" mdbInputDirective>
              <option *ngFor="let category of _baseService.allLatestCategories" [value]="category.id">{{category.name}}</option>
            </select>

          </div>

          <div class="md-form">
            <input mdbInputDirective [(ngModel)]="postFormObject.Title" name="Title" type="text" class="form-control">
            <label for="Title" class="">Add a title</label>
          </div>
          <div class="md-form">
            <input mdbInputDirective [(ngModel)]="postFormObject.Description" name="Description" type="text" class="form-control">
            <label for="Description" class="">Add a description</label>
          </div>

          <div class="md-form">
            <input mdbInputDirective [(ngModel)]="postFormObject.Tags" name="Tags" type="text" class="form-control">
            <label for="Tags" class="">Add a Tag (Ex: Tag1,Tag 2, etc..)</label>
          </div>

          <br>
          <br>

          <button type="button" class="btn-outline-blue" [ngClass]="{'disabled':!(postFormObject.Title && postFormObject.Description  && postFormObject.Category)}"
            [disabled]="!(postFormObject.Title && postFormObject.Description   && postFormObject.Category)" (click)="onFormSubmit()"
            mdbWavesEffect>
            Create Post</button>

          <button type="button" class="btn-outline-blue ml-3" (click)="cancelCreatePost();" mdbWavesEffect>
            Cancel</button>


        </form>



      </div>
    </div>

  </section>


</div>



