
<div class="wrapper fadeInDown mt-5">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img [src]="'assets/img/logo.png'" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form novalidate [formGroup]="userLoginForm"  (ngSubmit)="Login()">

      <input type="text" id="login" class="fadeIn second" formControlName="Email"  name="Email" placeholder="Email" autocomplete="off">
      <input type="text" id="password" class="fadeIn third" formControlName="Password" name="Password" placeholder="Password"  autocomplete="off">
      <input type="submit" [disabled]="userLoginForm.invalid" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/">Go to the Site</a>
    </div>

  </div>
</div>