<!-- <app-header></app-header> -->




<router-outlet  (activate)="onActivate($event)"></router-outlet>
<!-- <div class="section red">


  <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div> -->

<app-footer *ngIf="(route!='/admin-portal' && route!='/admin/dashboard')"></app-footer>

