<div class="container">
	<div class="mt-5">
		<h2 class="h2-responsive">AMA
			<a class="d-inline-block blue-outline-btn pull-right btn_sm" (click)="goBack()">
				Back
			</a>
		</h2>

	</div>


	<div class="rounded z-depth-1-half mt-2 mb-5">

		<div class="row mx-0" *ngIf="selectedAMAsDetails">
			<div class="col-4 pt-4 d-flex flex-column">
				<div>
					<p class="f-14">{{ selectedAMAsDetails.category.name }}</p>

				</div>
				<div class="mt-3">
					<h3 class="h3-responsive">
						{{ selectedAMAsDetails.hostname }}
					</h3>
					<h2 class="h2-responsive">{{ selectedAMAsDetails.startDate | date :"MMMM d, y"}} @ {{
						selectedAMAsDetails.startDate | date : 'h:mm a' }}</h2>

					<div class="launch-timer-outer f-20 font-weight-bold text-lblue">
						<h2 class="mt-5">
							<countdown-timer [end]="selectedAMAsDetails.startDate"></countdown-timer>
						</h2>
						<div class="timer-tag">
							<span>Days</span>
							<span>Hours</span>
							<span>Minutes</span>
							<span>Seconds</span>
						</div>
					</div>
				</div>
				<div class="clearfix mt-auto">
					<div>
						<div class="float-right m-2">
							<a class="like" (click)="likeAMA()">
								<i class="fa fa-thumbs-o-up"></i>
								<span>{{selectedAMAsDetails.like_count?selectedAMAsDetails.like_count:0 }}</span>
							</a>
							<!-- <img src="../../assets/img/message.png"  alt="">{{ selectedAMAsDetails.like_count ?selectedAMAsDetails.like_count:0}} -->
						</div>
						<div class="float-right m-2">
							<img src="../../assets/img/gray-up-arrow.png" alt="">{{ selectedAMAsDetails.comment_count
							?selectedAMAsDetails.comment_count:0}}
						</div>
					</div>
				</div>

			</div>
			<div class="col-8 p-0">
				<img [src]="selectedAMAsDetails.picture" style="width: 100%; height: 100%;" class="img-fluid" alt="">
			</div>
		</div>
	</div>
	<section class="container pb-3" *ngIf="selectedAMAsDetails">
		<div class="d-flex align-items-center">
			<div class="container">
				<div class="">
					<p class="margin0px"> {{selectedAMAsDetails.description}}</p>
				</div>
			</div>
		</div>
	</section>

	<section>

		<div class="row">
			<div class="col-md-6">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Users</h5>

						<div class="col-md-6 text-center pull-left cardpadTopBot">

							<h1>120</h1>
							<br>
							Number of people attending
						</div>

						<div class="col-md-6  text-center pull-right cardpadTopBot">
						<h1>80</h1>	
							<br>
							Number of people in AMA
						</div>


					</div>
				</div>

			</div>

			<div class="col-md-6">

				<div class="card">
					<div class="card-body">

						<div class="col-md-12 text-center mb-5">

							<div class="slidecontainer">
								<p class="pull-left mb-0">Unanswered Questions</p>
								<p class="pull-right mb-0">10/100</p>
								<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
							</div>
						</div>

						<div class="col-md-6 pull-left  text-center">

							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Activity</h5>

									<a class="like" (click)="likeQuestion(question,1)">
										<i class="fa fa-thumbs-o-up"></i>
										<span>27</span>
									</a>

									<a class="like" (click)="showAllReplies(question);">
										<span class="text-right d-inline-block mx-2">
											<img src="../../assets/img/message.png" alt="">
											5
										</span>
									</a>


								</div>
							</div>

						</div>

						<div class="col-md-6 pull-right text-center">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Ending Time</h5>
									<p>Ending in 15 minutes</p>
								</div>
							</div>

						</div>


					</div>
				</div>

			</div>


		</div>




	
	</section>



	<!-- <section class="container pb-3" *ngIf="selectedAMAsDetails && _baseService.currentUser.id == selectedAMAsDetails.created_by._id">
		<div class="col-md-12" >
			<div class="row" style="margin-left:5px">
					<div class="col-6">
						<div class="row rounded z-depth-1" style="height: 170px;">
						<h2 class="h2-responsive d-inline-block">Users</h2>
							<div class="col-3">
									<strong><p style="color: blue; font-weight: 400; margin: 30px"> 
											120<br>
											Number of people
											attending
									</p></strong>
							</div>
							<div class="clearfix visible-xs"></div>
							<div class="col-3">
									<strong><p style="color: brown; font-weight: 400; margin: 30px"> 
											80<br>
											Number of people in
											AMA
									</p></strong>
							</div>
						</div>
					</div>
				<div class="row" style="margin-left:65px; margin-right: 0px">
					<div class="col-6">
						<div class="row" style="height: 170px;">
								<div class="col-3 rounded z-depth-1" >Satheesh kumar</div>
								<div class="col-3 rounded z-depth-1">Suberamani</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<section class="container pb-3">
		<div class="col-md-12" style="padding-bottom: 65px;">
			<form [formGroup]="createQuestion" (ngSubmit)="createQuestionTOAMA();">
				<div class="col-md-12">

					<div class="md-form">
						<input mdbInputDirective formControlName="questionTitile" type="text" id="questionTitile" class="form-control">
						<label for="questionTitile" class="">Question Title</label>
					</div>
					<div class="md-form">
						<input mdbInputDirective formControlName="questionDescription" type="text" id="questionDescription" class="form-control">
						<label for="questionDescription" class="">Question Description</label>
					</div>
					<div>
						<button type="submit" [disabled]="createQuestion.invalid" class="btn btn-success green pull-right">
							<i class="fa fa-share"></i> Post question
						</button>
					</div>

				</div>
			</form>
		</div>
	</section>
	<!--Section: Social newsfeed v.1-->
	<section class="pt-5 pb-3" *ngIf="discussionData">
		<div *ngIf="discussionData.length>0">
			<div class="d-flex align-items-center ">
				<div>
					<h2 class="h2-responsive d-inline-block">Question</h2>
					<span class="f-12"> Comments in
						<span class="text-lblue"> blue </span> were posted before AMA</span>
				</div>
				<div class="text-grey ml-auto">
					<div class="btn-group custom-dropdown" mdbDropdown>
						<span class="grey-text"> SORT BY:</span>
						<button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
							{{orderByDisplayLabel}}
						</button>
						<div class="dropdown-menu dropdown-primary">
							<a class="dropdown-item" (click)="selectOrderBy(true)">Newest</a>
							<a class="dropdown-item" (click)="selectOrderBy(false)">Oldest</a>
							<a class="dropdown-item" (click)="selectOrderBy('unAnswered')" *ngIf="_baseService.currentUser.id == selectedAMAsDetails.created_by._id">Un
								AnsweredQuestion</a>
						</div>
					</div>

				</div>
			</div>
			<!--Grid row-->
			<div class="container p-4 ">
				<!--Grid column-->
				<div class="">
					<!--Newsfeed-->
					<div class="mdb-feed" *ngIf="discussionData">
						<div class="news z-depth-1 rounded m-2 p-3" *ngFor="let question of discussionData | orderByDate : 'createdAt': isOrderby;">
							<div class="label">
								<img [src]="question.picture" class="rounded-circle z-depth-1-half">
							</div>
							<!--Excert-->
							<div class="excerpt">
								<!--Brief-->
								<div class="brief">
									<a class="name">{{question.firstName}} {{question.lastName}}</a>

									<div class="date">{{question.createdAt | timeAgo}}</div>
								</div>
								<!--Added text-->
								<div class="added-text"> <strong>
										<p> {{question.title}}</p>
									</strong></div>
								<div class="added-text text-lblue">{{question.description}}.</div>
								<div class="feed-footer clearfix">

									<a class="like" (click)="likeQuestion(question,1)">
										<i class="fa fa-thumbs-o-up"></i>
										<span>{{question.like_count?question.like_count:0 }} likes</span>
									</a>

									<a class="like" (click)="showAllReplies(question);">
										<span class="text-right d-inline-block mx-2">
											<img src="../../assets/img/message.png" alt="">
											{{question.reply_count?question.reply_count:0 }}
										</span>
									</a>



									<a class="reply text-left" (click)="answerQuestionByAMA(question);" *ngIf="!question.isReply">
										<i class="fa fa-reply" aria-hidden="true"></i>
										<span>Reply</span>
									</a>


									<form *ngIf="question.isReply">
										<div class="form-row align-items-center">
											<div class="col-sm-6 my-1">
												<input type="text" class="form-control" [(ngModel)]="answerQuestion" name="answerQuestion" placeholder="Answer A Question">
											</div>
											<div class="col-auto my-1">
												<button type="submit" class="btn btn-primary" (click)="answerQuestions(question);">Reply</button>
												<button type="button" class="btn btn-danger" (click)="cancelAnswer()">Cancel</button>
											</div>
										</div>
									</form>

								</div>


							</div>
						</div>
					</div>
					<!--Newsfeed-->

				</div>
				<!--Grid column-->

			</div>
			<!--Grid row-->
		</div>
	</section>
	<!--Section: Social newsfeed v.1-->

</div>