<tabset>
  <tab heading="All Users" id="tab1">

      <div class="card mt-2">
          <div class="card-body">
           
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Email</th>
                      <th>Role</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>John</td>
                      <td>Doe</td>
                      <td>john@example.com</td>
                      <td>Admin</td>
                      <td>
                          <button type="button" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></button>
                          <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>Mary</td>
                      <td>Moe</td>
                      <td>mary@example.com</td>
                      <td>User</td>
                      <td>
                          <button type="button" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></button>
                          <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>July</td>
                      <td>Dooley</td>
                      <td>july@example.com</td>
                      <td>Admin</td>
                      <td>
                          <button type="button" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></button>
                          <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

          </div>
        </div>


  


  </tab>
  <tab heading="Add Users">
      <div class="card mt-2">
          <div class="card-body">
           
              <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" name="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                    </div>
                  </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                    </div>

                
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputState">Role</label>
                      <select id="inputState" class="form-control">
                        <option selected>Choose Role</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                      </select>
                    </div>
                  
                  </div>
                 

                  <button type="submit" class="btn btn-primary">Create User</button>
                  <button type="reset" class="btn btn-danger ml-2">Cancel</button>

                </form>

          </div>
        </div>


  </tab>
</tabset>