<app-header></app-header>
<div class="container p-3">

  <ng-container *ngIf="showDetails">
    <app-poll-detail [selectedItem]="selectedItem" [type]="'Poll'" (isBack)="handleBackChange($event)"></app-poll-detail>
  </ng-container>


  <pre-loader *ngIf="_baseService.isLoader"></pre-loader>

  
  
  <ng-container *ngIf="!showDetails">

    <h4>Polls


      <a class="d-inline-block blue-outline-btn pull-right btn_sm" routerLink="/profile" *ngIf="selectedFilterTitle=='My Polls'">
        Back
      </a>
      <a class="d-inline-block blue-outline-btn pull-right btn_sm" routerLink="/polls" *ngIf="selectedFilterTitle!=='My Polls'">
        Back
      </a>

    </h4>

    <div class="mt-3">
      <div class="d-flex align-items-center pb-4">
        <div class="btn-group custom-dropdown grey-text" mdbDropdown>
          <span class="grey-text font-weight-bold">
            Search in:
          </span>
          <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
            {{selectedCategory.name}}
          </button>

          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" (click)="selectCategory('All')">All</a>
            <a class="dropdown-item" *ngFor="let category of _baseService.allLatestCategories" (click)="selectCategory(category)">{{category.name}}</a>
          </div>
        </div>


        <div class="ml-5">
          <input type="text" class="custom-search" [(ngModel)]="SearchKeyword" placeholder=" Search a poll...">
        </div>

        <div class="text-grey ml-auto">

          <div class="btn-group custom-dropdown" mdbDropdown>
            <span class="grey-text"> SORT BY:</span>
            <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
               {{isOrderby?'Newest':'Oldest'}}
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" (click)="selectOrderBy(true)">Newest</a>
              <a class="dropdown-item" (click)="selectOrderBy(false)">Oldest</a>
            </div>
          </div>


        </div>
      </div>

      <h5 class="mt-3 ml-3">{{selectedFilterTitle}}</h5>
      
      <div class="row mx-0 d-flex align-items-stretch" *ngIf="selectedFilterTitle=='Trending'">
        <div class="col-md-4 cursor-pointer" *ngFor="let data of _baseService.LatestActivePolls.trending   | filters:SearchKeyword | categoryFilters:selectedCategory.name  | orderByDate : 'createdAt': isOrderby">
         
          <div class="card position-relative my-2" (click)="ViewItem(data)">
            <!-- <div class="card-header" [ngStyle]="{'background-image': 'url('+data.picture+')'}"> -->
             <div class="card-header" [defaultImage]="data.picture" [lazyLoad]="data.picture" >
      
             <div class="overlay">
               <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
               <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
               <span class="card-category f-14">{{ data.category?data.category.name:'' }}</span>


             </div>
           </div>


           <div class="card-body f-14">

             <div class="d-flex align-items-center justify-content-between">
               <div class="">
                 <img [src]="data.created_by.picture" alt="" class="profile_pic">
               </div>
               <div class="">
                 {{ data.created_by.firstName + data.created_by.lastName }}
                 <br />
                 <span>{{data.createdAt | timeAgo}}</span>
               </div>
               <div class="">
                 <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.like_count?data.like_count:0 }}
               </div>
               <div class="">
                 <img src="../../assets/img/message.png" alt=""> {{ data.comment_count?data.comment_count:0 }}
               </div>

             </div>
           </div>
         </div>
        </div>

        <div class="col-md-12" *ngIf="(_baseService.LatestActivePolls.trending   | filters:SearchKeyword | categoryFilters:selectedCategory.name).length==0">
          <h4 class=" text-center">
            No Data!
          </h4>
        </div>
      </div>


      <div class="row mx-0 d-flex align-items-stretch" *ngIf="selectedFilterTitle=='Newest'">

        <div class="col-md-4 cursor-pointer" *ngFor="let data of _baseService.LatestActivePolls.newly   | filters:SearchKeyword | categoryFilters:selectedCategory.name  | orderByDate : 'createdAt': isOrderby">
         
          <div class="card position-relative my-2" (click)="ViewItem(data)">
            <!-- <div class="card-header" [ngStyle]="{'background-image': 'url('+data.picture+')'}"> -->
             <div class="card-header" [defaultImage]="data.picture" [lazyLoad]="data.picture" >
      
             <div class="overlay">
               <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
               <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
               <span class="card-category f-14">{{ data.category?data.category.name:'' }}</span>


             </div>
           </div>


           <div class="card-body f-14">

             <div class="d-flex align-items-center justify-content-between">
               <div class="">
                 <img [src]="data.created_by.picture" alt="" class="profile_pic">
               </div>
               <div class="">
                 {{ data.created_by.firstName + data.created_by.lastName }}
                 <br />
                 <span>{{data.createdAt | timeAgo}}</span>
               </div>
               <div class="">
                 <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.like_count?data.like_count:0 }}
               </div>
               <div class="">
                 <img src="../../assets/img/message.png" alt=""> {{ data.comment_count?data.comment_count:0 }}
               </div>

             </div>
           </div>
         </div>
        </div>

        <div class="col-md-12" *ngIf="(_baseService.LatestActivePolls.newly   | filters:SearchKeyword | categoryFilters:selectedCategory.name).length==0">
          <h4 class=" text-center">
            No Data!
          </h4>
        </div>

      </div>



      <div class="row mx-0 d-flex align-items-stretch" *ngIf="selectedFilterTitle=='Popular in Technology'">
       
        <div class="col-md-4 cursor-pointer" *ngFor="let data of _baseService.LatestActivePolls.popular   | filters:SearchKeyword | categoryFilters:selectedCategory.name  | orderByDate : 'createdAt': isOrderby">
         
          <div class="card position-relative my-2" (click)="ViewItem(data)">
            <!-- <div class="card-header" [ngStyle]="{'background-image': 'url('+data.picture+')'}"> -->
             <div class="card-header" [defaultImage]="data.picture" [lazyLoad]="data.picture" >
      
             <div class="overlay">
               <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
               <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
               <span class="card-category f-14">{{ data.category?data.category.name:'' }}</span>


             </div>
           </div>


           <div class="card-body f-14">

             <div class="d-flex align-items-center justify-content-between">
               <div class="">
                 <img [src]="data.created_by.picture" alt="" class="profile_pic">
               </div>
               <div class="">
                 {{ data.created_by.firstName + data.created_by.lastName }}
                 <br />
                 <span>{{data.createdAt | timeAgo}}</span>
               </div>
               <div class="">
                 <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.like_count?data.like_count:0 }}
               </div>
               <div class="">
                 <img src="../../assets/img/message.png" alt=""> {{ data.comment_count?data.comment_count:0 }}
               </div>

             </div>
           </div>
         </div>
        </div>

        <div class="col-md-12" *ngIf="(_baseService.LatestActivePolls.popular   | filters:SearchKeyword | categoryFilters:selectedCategory.name).length==0">
          <h4 class=" text-center">
            No Data!
          </h4>
        </div>

      </div>


      <div class="row mx-0 d-flex align-items-stretch" *ngIf="selectedFilterTitle=='My Polls'">
       
        <div class="col-md-4 cursor-pointer" *ngFor="let data of _baseService.LatestMyPolls   | filters:SearchKeyword | categoryFilters:selectedCategory.name  | orderByDate : 'createdAt': isOrderby">
         
          <div class="card position-relative my-2" (click)="ViewItem(data)">
            <!-- <div class="card-header" [ngStyle]="{'background-image': 'url('+data.picture+')'}"> -->
             <div class="card-header" [defaultImage]="data.picture" [lazyLoad]="data.picture" >
      
             <div class="overlay">
               <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
               <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
               <span class="card-category f-14">{{ data.category?data.category.name:'' }}</span>


             </div>
           </div>


           <div class="card-body f-14">

             <div class="d-flex align-items-center justify-content-between">
               <div class="">
                 <img [src]="data.created_by.picture" alt="" class="profile_pic">
               </div>
               <div class="">
                 {{ data.created_by.firstName + data.created_by.lastName }}
                 <br />
                 <span>{{data.createdAt | timeAgo}}</span>
               </div>
               <div class="">
                 <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.like_count?data.like_count:0 }}
               </div>
               <div class="">
                 <img src="../../assets/img/message.png" alt=""> {{ data.comment_count?data.comment_count:0 }}
               </div>

             </div>
           </div>
         </div>
        </div>

        <div class="col-md-12" *ngIf="(_baseService.LatestActivePolls.popular   | filters:SearchKeyword | categoryFilters:selectedCategory.name).length==0">
          <h4 class=" text-center">
            No Data!
          </h4>
        </div>

      </div>


    </div>
  </ng-container>