<tabset>
  <tab heading="All AMA" id="tab1">

    <div class="card mt-2">
      <div class="card-body">
		<button type="button" (click)="selectAMA(null, 'isAdd')" (click)="basicModal.show()"  class="btn btn-success btn-sm">Create AMA<i style="margin: 5px" class="fa fa-plus"></i></button>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Image</th>
              <th>Category</th>
              <th>Title</th>
              <th>Description</th>
              <th>Tags</th>
              <th width="20%">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="amaList">
            <tr *ngFor="let ama of amaList.newly">
              <td>
				  <figure>
				<img *ngIf="ama.picture" style="width: 180px; height: 180px;" [defaultImage]="defaultImage" [lazyLoad]="ama.picture"
					 alt="">
					 <img *ngIf="!ama.picture" style="width: 180px; height: 180px;" [src]="ama.picture"
					 alt="">
				</figure>
				</td>
              <td>{{ ama.category ?  ama.category.name : null }}</td>
              <td>
				  <p class="description_wrap">
					{{ ama.title ?   ama.title : null}}
				</p>
			</td>
              <td> <p  class="description_wrap">
				{{ ama.description ?  ama.description : null }}
			  </p></td>
              <td *ngIf="ama.tags"> <p  *ngFor="let tag of ama.tags">
					{{ tag }}
				  </p></td>
              <td>
			  <td *ngIf="!ama.tags"> <p>null</p>
			  </td>
				<td>
					<button type="button" (click)="selectAMA(ama, 'isEdit')" (click)="basicModal.show()" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></button>
					<button  (click)="selectAMA(ama)" (click)="basicModal.show()" type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </tab>
  <tab heading="Add AMA">
    <div class="card mt-2">
      <div class="card-body">

        <form>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Hostname">Host Name</label>
              <input type="text" class="form-control" name="Hostname" placeholder="Host Name">
            </div>

            <div class="form-group col-md-6">
              <label for="Tagline">Tagline</label>
              <input type="text" class="form-control" name="Tagline" placeholder="Tagline">
            </div>

          </div>


          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Category">Category</label>
              <select id="inputState" class="form-control" name="Category">
                <option selected>Choose Category</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" placeholder="Title">
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Description">Description</label>
              <textarea class="form-control" name="Description" rows="3" placeholder="Description"></textarea>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Tags">Tags</label>
              <input type="text" class="form-control" name="Tags" placeholder="Tags">
            </div>
            <div class="form-group col-md-6">
              <label for="image">Poll Image</label>
              <input type="file" class="form-control" name="pollimage">
            </div>
          </div>


          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="social_link">Social Link Title</label>
              <input type="text" class="form-control" name="social_link" placeholder="Title">
            </div>

            <div class="form-group col-md-6">
              <label for="url">Social Link URL</label>
              <input type="text" class="form-control" name="url" placeholder="URL">
            </div>

            
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-danger btn-sm pull-right mtop-5"><i class="fa fa-minus"></i></button>
              </div>


          </div>

          <div class="form-row">
              <div class="form-group col-md-5">
                <label for="social_link">Social Link Title</label>
                <input type="text" class="form-control" name="social_link" placeholder="Title">
              </div>
  
              <div class="form-group col-md-6">
                <label for="url">Social Link URL</label>
                <input type="text" class="form-control" name="url" placeholder="URL">
              </div>
  
              
              <div class="form-group col-md-1">
                  <button type="button" class="btn btn-success btn-sm pull-right mtop-5"><i class="fa fa-plus"></i></button>
                </div>
  
  
            </div>



          <button type="submit" class="btn btn-primary">Create AMA</button>
          <button type="reset" class="btn btn-danger ml-2">Cancel</button>

        </form>

      </div>
    </div>


  </tab>
</tabset>
<pre-loader *ngIf="_baseService.isLoader"></pre-loader>
  <!-- Central Modal Medium Danger -->
  <div  mdbModal #basicModal="mdb-modal" class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-danger" role="document">
	<!--Content-->
	<div  *ngIf="!isEdit" class="modal-content">
	  <!--Header-->
	  <div class="modal-header">
		<p class="heading lead">Are you sure wants to delete this AMA?</p>
  
		<button #modalDismiss type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
		  <span aria-hidden="true" class="white-text">&times;</span>
		</button>
	  </div>
  
	  <!--Body-->
	  <div class="modal-body">
		<div class="text-center">
		  <p>This actions can not be undone.</p>
		</div>
	  </div>
  
	  <!--Footer-->
	  <div class="modal-footer justify-content-center">
		<a type="button" class="btn btn-danger" (click)="removeAMA()">Yes</a>
		<a type="button" class="btn btn-outline-danger waves-effect" (click)="basicModal.hide()">No</a>
	  </div>
	</div>
	<!--/.Content-->
	<!--Content-->
	<div *ngIf="isEdit" class="modal-content">
			<!--Header-->
			<div class="modal-header">
  
			  <p class="heading text-center text-uppercase">{{ formButtonsDisplayName }}</p>
	  
			  <button #modalDismiss type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()" (click)="resetMDBModal()">
				<span aria-hidden="true" class="white-text">&times;</span>
			  </button>
			</div>
	  
			<!--Body-->
			<div class="modal-body">
					<div class="card mt-2">
							<div class="card-body">
							 
								<form [formGroup]="form" (ngSubmit)="amaAction();">
									  <div class="form-row">
											  <div class="form-group col-md-6">
												  <label for="Category">Category</label>
												  <select  (change)="selectCategory($event)" formControlName="category" class="form-control" name="Category">
												  <option *ngFor="let category of _baseService.allLatestCategories" 
												   [value]="category.name">{{category.name}}</option>
												  </select>
											  </div>
											  <div class="form-group col-md-6">
												  <label for="title">Title</label>
												  <input type="text"  formControlName="title" class="form-control" name="title" placeholder="Title">
												  </div>
											  </div>
										  <div class="form-row">
											  <div class="form-group col-md-12">
											  <label for="description">Description</label>
											  <textarea  formControlName="description" class="form-control" name="Description" rows="3" placeholder="Description"></textarea>
											  </div>
										  </div>
									  
										  <div class="form-row">
											  <div class="form-group col-md-6">
												  <label for="tags">Tags</label>
												  <input formControlName="tags" type="text" class="form-control" name="Tags" placeholder="Add a Tag (Ex: Tag1,Tag 2, etc..)">
											  </div>
											  <div class="form-group col-md-6">
												  <label for="image">Poll Image</label>
												  <input type="file" name="file" #file ng2FileSelect [uploader]="uploader" (change)="onFileChange($event)" class="form-control input-file"
													accept="image/*" />
											  </div>
											  <img style="width: 20%;height: 20%; float: left" class="img-fluid"  *ngIf="selectedAMA && selectedAMA.picture && !tempPreview" [src]="selectedAMA.picture">
											  <img style="width: 20%;height: 20%; float: left" class="img-fluid"  *ngIf="tempPreview" [src]="tempPreview">
										  </div>
									<button type="submit" class="btn btn-primary" [disabled]="form.invalid">{{formButtonsDisplayName}}</button>
									<button *ngIf="isAdd" type="reset" class="btn btn-danger ml-2">Reset</button>
									<button class="btn btn-danger ml-2" (click)="basicModal.hide()" (click)="resetMDBModal()">Cancel</button>
								  </form>
				  
							</div>
						  </div>
						</div>
	
		  <!--/.Content-->
  </div>
  </div>
