<app-header></app-header>
<div class="container p-3">

  <ng-container *ngIf="showDetails">
    <app-post-detail [selectedItem]="selectedItem" [type]="'Post'" (isBack)="handleBackChange($event)"></app-post-detail>
  </ng-container>


  <ng-container *ngIf="showCreateorUpdateForm">
    <app-create-post [selectedItem]="selectedItem" [type]="'Post'" (isBack)="handleBackChange($event)"></app-create-post>
  </ng-container>


  <pre-loader *ngIf="_baseService.isLoader"></pre-loader>

  
  <ng-container *ngIf="!showDetails && !showCreateorUpdateForm">

    <h4>Posts

      <a class="d-inline-block blue-outline-btn pull-right btn_sm" (click)="showHideForm(true);" *ngIf="_baseService.currentUser.isLogedIn">
        Create a Post
      </a>

    </h4>

    <div class="mt-3">
      <div class="d-flex align-items-center pb-4">
          <div class="btn-group custom-dropdown grey-text" mdbDropdown>
              <span class="grey-text font-weight-bold">
                Search in:
              </span>
              <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
                {{selectedCategory.name}}
              </button>
    
              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" (click)="selectCategory('All')">All</a>
                <a class="dropdown-item" *ngFor="let category of _baseService.allLatestCategories" (click)="selectCategory(category)">{{category.name}}</a>
              </div>
            </div>


        <div class="ml-5">
          <input type="text" class="custom-search" [(ngModel)]="SearchKeyword" placeholder=" Search a post...">
        </div>

        <div class="text-grey ml-auto">

          <div class="btn-group custom-dropdown" mdbDropdown>
            <span class="grey-text"> SORT BY:</span>
            <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
               {{isOrderby?'Newest':'Oldest'}}
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" (click)="selectOrderBy(true)">Newest</a>
              <a class="dropdown-item" (click)="selectOrderBy(false)">Oldest</a>
            </div>
          </div>

        </div>
      </div>

     

      <h5 class="mt-3 ml-3">Trending</h5>
      <div class="row mx-0 d-flex align-items-stretch">
        <div class="col-md-4 cursor-pointer" *ngFor="let data of _baseService.LatestActivePosts.trending  | slice:0:3 | filters:SearchKeyword | categoryFilters:selectedCategory.name  | orderByDate : 'createdAt': isOrderby">
         
          <div class="card position-relative my-2" (click)="ViewItem(data)">
             <!-- <div class="card-header" [ngStyle]="{'background-image': 'url('+data.picture+')'}"> -->
              <div class="card-header" [defaultImage]="data.picture" [lazyLoad]="data.picture" >
       
              <div class="overlay">
                <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
                <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
                <span class="card-category f-14">{{ data.category?data.category.name:'' }}</span>


              </div>
            </div>


            <div class="card-body f-14">

              <div class="d-flex align-items-center justify-content-between">
                <div class="">
                  <img [src]="data.created_by.picture" alt="" class="profile_pic">
                </div>
                <div class="">
                  {{ data.created_by.firstName + data.created_by.lastName }}
                  <br />
                  <span>{{data.createdAt | timeAgo}}</span>
                </div>
                <div class="">
                  <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.like_count?data.like_count:0 }}
                </div>
                <div class="">
                  <img src="../../assets/img/message.png" alt=""> {{ data.comment_count?data.comment_count:0 }}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right mt-2 mx-3">
        <span class="text-lblue text-uppercase font-lfBold cursor-pointer" (click)="readMore('Trending');"> More >
        </span>
      </div>

      <h5 class="mt-5 ml-3">Newest</h5>
      <div class="row mx-0 d-flex align-items-stretch">
        <div class="col-md-4" *ngFor="let data of _baseService.LatestActivePosts.newly  | slice:0:3 | filters:SearchKeyword | categoryFilters:selectedCategory.name  | orderByDate : 'createdAt': isOrderby">
       
          <div class="card position-relative my-2" (click)="ViewItem(data)">
            <!-- <div class="card-header" [ngStyle]="{'background-image': 'url('+data.picture+')'}"> -->
             <div class="card-header" [defaultImage]="data.picture" [lazyLoad]="data.picture" >
      
             <div class="overlay">
               <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
               <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
               <span class="card-category f-14">{{ data.category?data.category.name:'' }}</span>


             </div>
           </div>


           <div class="card-body f-14">

             <div class="d-flex align-items-center justify-content-between">
               <div class="">
                 <img [src]="data.created_by.picture" alt="" class="profile_pic">
               </div>
               <div class="">
                 {{ data.created_by.firstName + data.created_by.lastName }}
                 <br />
                 <span>{{data.createdAt | timeAgo}}</span>
               </div>
               <div class="">
                 <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.like_count?data.like_count:0 }}
               </div>
               <div class="">
                 <img src="../../assets/img/message.png" alt=""> {{ data.comment_count?data.comment_count:0 }}
               </div>

             </div>
           </div>
         </div>

        </div>
      </div>
      <div class="text-right mt-2 mx-3">
        <span class="text-lblue text-uppercase font-lfBold cursor-pointer" (click)="readMore('Newest');"> More > </span>
      </div>



      <h5 class="mt-5 ml-3">Popular in Technology</h5>
      <div class="row mx-0 d-flex align-items-stretch">
        <div class="col-md-4" *ngFor="let data of _baseService.LatestActivePosts.popular  | slice:0:3 | filters:SearchKeyword | categoryFilters:selectedCategory.name  | orderByDate : 'createdAt': isOrderby">
         
          <div class="card position-relative my-2" (click)="ViewItem(data)">
            <!-- <div class="card-header" [ngStyle]="{'background-image': 'url('+data.picture+')'}"> -->
             <div class="card-header" [defaultImage]="data.picture" [lazyLoad]="data.picture" >
      
             <div class="overlay">
               <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
               <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
               <span class="card-category f-14">{{ data.category?data.category.name:'' }}</span>


             </div>
           </div>


           <div class="card-body f-14">

             <div class="d-flex align-items-center justify-content-between">
               <div class="">
                 <img [src]="data.created_by.picture" alt="" class="profile_pic">
               </div>
               <div class="">
                 {{ data.created_by.firstName + data.created_by.lastName }}
                 <br />
                 <span>{{data.createdAt | timeAgo}}</span>
               </div>
               <div class="">
                 <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.like_count?data.like_count:0 }}
               </div>
               <div class="">
                 <img src="../../assets/img/message.png" alt=""> {{ data.comment_count?data.comment_count:0 }}
               </div>

             </div>
           </div>
         </div>

        </div>
      </div>
      <div class="text-right mt-2 mx-3">
        <span class="text-lblue text-uppercase font-lfBold cursor-pointer" (click)="readMore('Popular-Technology');">
          More > </span>
      </div>
    </div>
  </ng-container>