.card-header {
  background-image: url("../../assets/img/touch.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: -1px;
  width: 100%;
  background-attachment: fixed;
}

.card-title{
    position: absolute;
    top: 0;
    padding: 20px;
    font-weight: 500;
}
.card-category{
    position: absolute;
    bottom: 0;
    padding: 20px;
}
