<app-header></app-header>
<div class="container p-3">
  <h4>Trending Discussions</h4>

  <div class="mt-3">
    <div class="d-flex align-items-center pb-4">
      <div class="btn-group custom-dropdown grey-text" mdbDropdown>
        <span class="grey-text font-weight-bold">
          Search in:
        </span>
        <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
          Category
        </button>
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">All</a>
          <a class="dropdown-item" href="#">Tech</a>
          <a class="dropdown-item" href="#">Trends</a>
        </div>
      </div>
      <div class="ml-5">
        <div class=" ">
          <ng-select class="custom-search" placeholder=" Search...">
            <span class="search-icon"></span>
          </ng-select>
        </div>
      </div>
      <div class="text-grey ml-auto">
        <div class="btn-group custom-dropdown" mdbDropdown>
          <span class="grey-text"> SORT BY:</span>
          <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
            Top
          </button>

          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Newest</a>
            <a class="dropdown-item" href="#">Oldest</a>
          </div>
        </div>

      </div>
    </div>



    <h5 class="mt-3 ml-3">Trending</h5>
    <div class="row mx-0 d-flex align-items-stretch">
      <div class="col-md-4" *ngFor="let data of discussionData">
        <div class="card position-relative my-2">
          <div class="card-header">
            <div class="overlay">
              <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
              <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
              <span class="card-category f-14">{{ data.category }}</span>
            </div>
          </div>

          <div class="card-body f-14">

            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <img src="../../assets/img/profile.png" alt="" height="25" width="25">
              </div>
              <div class="">
                {{ data.user }}
                <br/> {{ data.time }}
              </div>
              <div class="">
                <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.count }}
              </div>
              <div class="">
                <img src="../../assets/img/message.png" alt=""> {{ data.msgcount }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right mt-2 mx-3">
      <span class="text-lblue text-uppercase font-lfBold cursor-pointer"> More > </span>
    </div>


    <h5 class="mt-5 ml-3">Newest</h5>
    <div class="row mx-0 d-flex align-items-stretch">
      <div class="col-md-4" *ngFor="let data of discussionData">
        <div class="card position-relative my-2">
          <div class="card-header">
            <div class="overlay">
              <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
              <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
              <span class="card-category f-14">{{ data.category }}</span>
            </div>
          </div>

          <div class="card-body f-14">

            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <img src="../../assets/img/profile.png" alt="" height="25" width="25">
              </div>
              <div class="">
                {{ data.user }}
                <br/> {{ data.time }}
              </div>
              <div class="">
                <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.count }}
              </div>
              <div class="">
                <img src="../../assets/img/message.png" alt=""> {{ data.msgcount }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right mt-2 mx-3">
      <span class="text-lblue text-uppercase font-lfBold cursor-pointer"> More > </span>
    </div>



    <h5 class="mt-5 ml-3">Popular in Technology</h5>
    <div class="row mx-0 d-flex align-items-stretch">
      <div class="col-md-4" *ngFor="let data of discussionData">
        <div class="card position-relative my-2">
          <div class="card-header">
            <div class="overlay">
              <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->
              <h5 class="card-title h5-responsive font-weight-bold">{{ data.title }}</h5>
              <span class="card-category f-14">{{ data.category }}</span>
            </div>
          </div>

          <div class="card-body f-14">

            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <img src="../../assets/img/profile.png" alt="" height="25" width="25">
              </div>
              <div class="">
                {{ data.user }}
                <br/> {{ data.time }}
              </div>
              <div class="">
                <img src="../../assets/img/gray-up-arrow.png" alt=""> {{ data.count }}
              </div>
              <div class="">
                <img src="../../assets/img/message.png" alt=""> {{ data.msgcount }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right mt-2 mx-3">
      <span class="text-lblue text-uppercase font-lfBold cursor-pointer"> More > </span>
    </div>
  </div>