<app-header></app-header>


<div class="container">

  <!-- <pre-loader *ngIf="_baseService.isLoader"></pre-loader> -->


  <ng-container *ngIf="showDetails">
    <app-poll-details [selectedItem]="selectedItem" [type]="'Poll'" (isBack)="handleBackChange($event)"></app-poll-details>
  </ng-container>

  <div *ngIf="!showDetails">

    <div class="container emp-profile">

      <div class="d-flex align-items-center cursor-pointer">
        <h2 class="text-uppercase">Edit Profile</h2>
      </div>


      <form method="post">
        <div class="row">
          <div class="col-md-2 text-center py-3">
            <div class="poll-photo">
              <img class="img-fluid profile_img" [src]="_baseService.currentUser.picture">
            </div>
            <small class="cursor-pointer" (click)="file.click()"> + Add Photo</small>


            <!-- Profile Picture Update Code -->
            <div class="hide">
              <input type="file" name="file" #file ng2FileSelect [uploader]="uploader" (change)="onFileSelected()"
                class="form-control input-file" accept="image/*" />

              <button #showModel type="button" class="btn btn-primary" (click)="openModal(templateProfilePictureUpdate)">Open
                modal</button>
              <br>
              <pre class="card card-block card-header">{{message}}</pre>
              <ng-template #templateProfilePictureUpdate>
                <div class="modal-body text-center">
                  <p>Do you want to confirm?</p>
                  <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
                  <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                </div>
              </ng-template>

            </div>
            <!-- Profile Picture Update Code -->



          </div>

          <div class="col-md-10">



            <div class="profile-head">
              <div class="col-md-12 my-auto pl-0">
                <h1 class="text-primary profile_name">
                  {{_baseService.currentUser.firstName+" "+_baseService.currentUser.lastName}}
                </h1>
              </div>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link cursor-pointer " [ngClass]="{'active':profileTab==1}" (click)="profileTab=1">Personal
                    Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link cursor-pointer" [ngClass]="{'active':profileTab==2}" (click)="profileTab=2; isEdit=false; _baseService.selectMyPredictionCategory(_baseService.selectedFilterPrediction);">My
                    Predictions</a>
                </li>
              </ul>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-10">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade  " [ngClass]="{'show active':profileTab==1}">



                <div *ngIf="!isEdit">

                  <div class="row mtop-m4">
                    <div class="col-md-12">
                      <button class="pull-right profile-edit-btn" (click)="showHide(true)">Edit Profile</button>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <label>First Name</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.firstName?_baseService.currentUser.firstName:'-'}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label>Last Name</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.lastName?_baseService.currentUser.lastName:'-'}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label>Email</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.email?_baseService.currentUser.email:'-'}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label>Education</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.education?_baseService.currentUser.education:'-'}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label>City</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.city?_baseService.currentUser.city:'-'}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <label>Country</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.country?_baseService.currentUser.country:'-'}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <label>DOB</label>
                    </div>
                    <div class="col-md-9">
                      <p *ngIf="_baseService.currentUser.dateOfBirth">{{_baseService.currentUser.dateOfBirth | date}}</p>
                      <p *ngIf="!_baseService.currentUser.dateOfBirth">--</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <label>Birth Place</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.birthPlace?_baseService.currentUser.birthPlace:'-'}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <label>Religion</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.religion?_baseService.currentUser.religion:'-'}}</p>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-3">
                      <label>Gender</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.gender?_baseService.currentUser.gender:'-'}}</p>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-3">
                      <label>Major</label>
                    </div>
                    <div class="col-md-9">
                      <p>{{_baseService.currentUser.major?_baseService.currentUser.major:'-'}}</p>
                    </div>
                  </div>

                </div>

                <div *ngIf="isEdit">
                  <div class="row mtop-m4">
                    <div class="col-md-12">
                      <button class="pull-right profile-edit-btn" (click)="showHide(false)">Cancel Edit</button>
                    </div>

                  </div>

                  <div class="col-md-12">

                    <div class="col-md-8 mx-auto pl-7">
                      <ul class="stepper stepper-horizontal">
                        <li class="" [ngClass]="{'active':step==1,'completed':(step==2 || step==3)}">
                          <a (click)="step=1">
                            <span class="circle">1</span>
                          </a>
                        </li>
                        <li class="" [ngClass]="{'waiting':step==1,'active':step==2,'completed':step==3}">
                          <a (click)="step=2">
                            <span class="circle">2</span>
                          </a>
                        </li>
                        <li class="" [ngClass]="{'waiting':(step==1 || step==2),'active':step==3,'completed':step==3}">
                          <a (click)="step=3">
                            <span class="circle">3</span>
                          </a>
                        </li>

                      </ul>

                    </div>

                    <form novalidate>

                      <div *ngIf="step==1">
                        <div class="col-md-10 mx-auto pt-5">
                          <h1 class="text-center">BACKGROUND</h1>
                          <br>
                          <h3>First Name :</h3>
                          <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.FirstName" name="FirstName" placeholder="FirstName"
                            mdbInputDirective>

                          <h3>Last Name :</h3>
                          <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.LastName" name="LastName" placeholder="LastName"
                            mdbInputDirective>

                          <h3>DOB:</h3>
                          <!-- <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.DOB" name="DOB" placeholder="DOB" mdbInputDirective> -->

                          <input class="form-control custom-outline-btn gray-outline-btn rounded-rb" [(ngModel)]="DemographicsInfo.DOB"
                            name="DOB" placeholder="DOB" bsDatepicker (bsValueChange)="onValueChange($event)">


                          <h3>Country :</h3>

                          <input [(ngModel)]="DemographicsInfo.Country" name="Country" [value]="groupSelected"
                            [typeahead]="_baseService.AllCountriesList" typeaheadOptionField="country_name"
                            (typeaheadOnSelect)="typeaheadOnCountrySelect($event)" [typeaheadOptionsLimit]="7" class="form-control custom-outline-btn gray-outline-btn rounded-rb" 
                            placeholder="Country">


                            <div *ngIf="DemographicsInfo.Country">
                              <h3>Place of Birth :</h3>

                              <input [(ngModel)]="DemographicsInfo.PlaceOfBirth" name="PlaceOfBirth" [value]="groupSelected"
                                [typeahead]="_baseService.AllStatesList" typeaheadOptionField="state_name"
                                (typeaheadOnSelect)="typeaheadOnStateSelect($event)" [typeaheadOptionsLimit]="7" class="form-control custom-outline-btn gray-outline-btn rounded-rb" 
                                placeholder="Place of Birth">
                            </div>

                        
                            <div *ngIf="DemographicsInfo.PlaceOfBirth">
                                <h3>Place of Residency (City) :</h3>
                                <input [(ngModel)]="DemographicsInfo.City" name="City" [value]="groupSelected" [typeahead]="_baseService.AllCitiesList"
                                  typeaheadOptionField="city_name" (typeaheadOnSelect)="typeaheadOnCitySelect($event)"
                                  [typeaheadOptionsLimit]="7" class="form-control custom-outline-btn gray-outline-btn rounded-rb"  placeholder="Place of Residency">
      
                              </div>

                        

                        </div>
                      </div>

                      <div *ngIf="step==2">
                        <div class="col-md-10 mx-auto pt-5">
                          <h1 class="text-center">EDUCATION</h1>
                          <br>
                          <h3>Education :</h3>
                          <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.Education" name="Education" placeholder="Education Level"
                            mdbInputDirective>

                          <h3>Major :</h3>
                          <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.Major" name="Major" placeholder="Major" mdbInputDirective>

                          <h3>Occupation :</h3>
                          <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.Occupation" name="Occupation" placeholder="Occupation"
                            mdbInputDirective>
                        </div>
                      </div>

                      <div *ngIf="step==3">
                        <div class="col-md-10 mx-auto pt-5">
                          <h1 class="text-center">DETAILS</h1>
                          <br>

                          <h3>Gender :</h3>
                          <!-- <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.Gender" name="Gender" placeholder="Gender" mdbInputDirective> -->

                          <select [(ngModel)]="DemographicsInfo.Gender" name="Gender" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            mdbInputDirective>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>


                          <h3>Religion:</h3>
                          <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.Religion" name="Religion" placeholder="Religion"
                            mdbInputDirective>

                          <h3>Interests :</h3>
                          <input mdbInputDirective type="text" class="form-control custom-outline-btn gray-outline-btn rounded-rb"
                            [(ngModel)]="DemographicsInfo.Interests" name="Interests" placeholder="Interests"
                            mdbInputDirective>
                        </div>
                      </div>


                      <div class="col-md-10 mx-auto text-center mt-3">

                        <div *ngIf="step==1">
                          <button class="btn btn-outline-primary" type="button" (click)="step=2" mdbWavesEffect>NEXT</button>
                          <button class="btn btn-outline-danger ml-5" type="button" (click)="step=2" mdbWavesEffect>Skip</button>
                        </div>

                        <div *ngIf="step==2">
                          <button class="btn btn-outline-primary" type="button" (click)="step=3" mdbWavesEffect>NEXT</button>
                          <button class="btn btn-outline-danger ml-5" type="button" (click)="step=3" mdbWavesEffect>Skip</button>
                        </div>

                        <div *ngIf="step==3">
                          <button class="btn btn-outline-primary" type="button" (click)="openModal(templateProfileInfoUpdate);"
                            mdbWavesEffect>Save Changes</button>
                          <button class="btn btn-outline-danger ml-5" type="button" (click)="step=2" mdbWavesEffect>Back</button>
                        </div>

                      </div>


                    </form>




                    <!-- Profile Info Update Code -->
                    <div class="">
                      <ng-template #templateProfileInfoUpdate>
                        <div class="modal-body text-center">
                          <p>Do you want to confirm?</p>
                          <button type="button" class="btn btn-default" (click)="confirmInfoUpdate()">Yes</button>
                          <button type="button" class="btn btn-primary" (click)="declineInfoUpdate()">No</button>
                        </div>
                      </ng-template>

                    </div>
                    <!-- Profile Info Update Code -->



                  </div>


                </div>

              </div>

              <div class="tab-pane fade" [ngClass]="{'show active':profileTab==2}">
                <div class="row">
                  <div class="col-md-9">

                    <div class="col-md-12">

                      <div class="btn-group custom-dropdown grey-text pull-right" mdbDropdown>
                        <span class="grey-text font-weight-bold">
                          Search in:
                        </span>
                        <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
                          {{_baseService.selectedFilterPrediction}}
                        </button>

                        <div class="dropdown-menu dropdown-primary">
                          <a class="dropdown-item" (click)="_baseService.selectMyPredictionCategory('All')">All</a>
                          <a class="dropdown-item" (click)="_baseService.selectMyPredictionCategory('Pending')">Pending</a>
                          <a class="dropdown-item" (click)="_baseService.selectMyPredictionCategory('Completed')">Completed</a>
                        </div>
                      </div>
                    </div>
                    <h4>My Predictions</h4>

                    <div class="my-3 mx-auto" *ngFor="let data of _baseService.myPredictionsData | orderByDate : 'createdAt': isOrderby">
                      <div class="row mx-0 position-relative my-2 z-depth-1 cursor-pointer " (click)="ViewItem(data)">
                        <div class="col-3 pl-0">
                          <div class="position-relative">
                            <img class="img-fluid my_predict_img" [defaultImage]="defaultImage" [lazyLoad]="data.picture"
                              [useSrcset]="true" [offset]="offset">

                            <div class="overlay"></div>
                          </div>
                        </div>
                        <div class=" col-5 p-1  d-flex flex-column  my-auto">

                          <div class="">
                            <div class="">
                              <h4 class="h4-responsive">{{ data.title }}</h4>
                            </div>

                            <div class="desc pb-3 block-with-text">
                              {{ data.description }}
                            </div>

                          </div>

                        </div>

                        <div class=" col-2 p-1  d-flex flex-column my-auto">

                          <div class="text-center">
                            <div class="">
                              <h4 class="h4-responsive grey_text">My Prediction</h4>
                            </div>

                            <div class="desc pb-3 block-with-text count_val">
                              2040
                            </div>
                          </div>

                        </div>

                        <div class=" col-2 p-1  d-flex flex-column  my-auto">

                          <div class="text-center">
                            <div class="">
                              <h4 class="h4-responsive grey_text">Consensus</h4>
                            </div>

                            <div class="desc pb-3 block-with-text count_val">
                              2040
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>


                  </div>

                  <div class="col-lg-3 col-sm-12 col-12">
                    <h4 class="h4-responsive">
                      MY POLLS
                    </h4>

                    <div *ngFor="let data of _baseService.LatestMyPolls  | slice:0:5">
                      <div class="mb-3 pt-2 cursor-pointer" (click)="ViewItem(data)">

                        <div class="d-flex ">
                          <div class="mr-2">
                            <!-- <img class="img-fluid" [defaultImage]="defaultImage" [lazyLoad]="data.picture"
                              [useSrcset]="true" [offset]="offset" height="80" width="80"> -->

                            <img class="img-fluid mypoll_img" [src]="data.picture">

                          </div>
                          <div>
                            <p class="p_text">{{data.title}}</p>
                            <div>

                            </div>
                          </div>

                        </div>
                      </div>


                    </div>

                    <div class="text-right">

                      <a class="text-uppercase font-lfBold cursor-pointer" (click)="readMore('MyPolls');">see
                        More > </a>

                    </div>

                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>
      </form>
    </div>





  </div>


</div>