
.profile_img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.profile_tab_link{
  margin-left: 4%;
  font-weight: 500;
  color: #61554e;
}

.profile_tab_link.active, .profile_tab_link:hover {
  color: #2a90ff !important;
  border-bottom: 1px solid;
}


.stepper {
  max-width: 80%;
    margin: auto;
  }
  
  .stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    li {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      position: relative;
    }
  }
  
  .stepper li a {
    // padding: 15px;
    // font-size: 14px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    // color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-weight: 500;
    span {
      height: 40px;
      width: 40px;
      line-height: 40px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  
  .stepper li.active a , .stepper li.completed a  {
    border: 2px solid #3090fd;
    color: #000;
    background-color: transparent;
  }
  
  .stepper-horizontal li:not(:last-child):after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    height: 2px;
    // background-color: rgba(0,0,0,.1);
    // background-color: rgba(255, 255, 255, 0.7);
    background-color: #3090fd;
  }
  
  .stepper-horizontal li.active:not(:last-child):after , .stepper-horizontal li.completed:not(:last-child):after {
    background-color: #3090fd;
  
  }




  li.waiting a span {
    border: solid 2px rgba(193, 193, 193, 0.7) !important;
    border-radius: 50px;
}

.stepper-horizontal li.waiting:not(:last-child):after {
  content: "";
  position: relative;
  flex: 1;
  margin: -2px;
  height: 2px;
  background-color: #d3d3d3;
}


.pt-7{
  padding-top: 7%;
}

.emp-profile{
  padding: 0%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}


.profile_name{
  padding-top: 4%;
  padding-bottom: 1%;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  padding: 2px 10px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-size: 12px;
  background: #2e2e2e;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom: 2px solid #4285f4;
  color: #4285f4;
}

.mtop-m4{
  margin-top: -4%;
}
.profile-head .nav-tabs .nav-link:hover{
  color: #4285f4;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.hide{
  display: none !important;
}

.p_text{
  font-weight: 500 !important;
  color: #484848 !important;
}

.pl-7 {
  padding-left: 7%;
}


.grey_text{
  font-size: 15px;
  font-weight: 500;
  color: #797979;
}

.count_val{
  font-weight: bold;
  color: #2a90ff;
  font-size: 20px;
}

.my_predict_img {
  max-height: 105px;
  width: 100%;
}

.mypoll_img{
  min-height: 60px;
  max-height: 60px;
  width: 80px;
}


// .ngx-dropdown-container .ngx-dropdown-button {
//   width: 100%;
//   min-height: 40px !important;
//   padding: 5px 10px 5px 10px !important;
//   border-bottom-right-radius: 25px !important;
//   background-color: white !important;
// }

button.ngx-dropdown-button {
  min-height: 45px !important;
  border-bottom-right-radius: 25px !important;
}
