<app-header></app-header>
<div class="container mt-3 p-0">

    <canvas id="canvas4" style="max-height: 200px;">{{ chart }}</canvas>

  <section class="dash-section p-3">
    <div class="row mx-0">
      <div class="col-lg-8 col-12 p-0">
        <h3 class="text-uppercase d-inline-block mr-2 h3-responsive">
          Dashboard
        </h3>
        <a href="">Customize</a>
        <div class="">
          <div class="row mx-0">
            <div class="col-lg-6 col-12 pl-0 ">
              <div class="h-60 box-transition box1 ">
                <div class="row mx-0">
                  <div class="col-8 pl-0">
                    <div class=" z-depth-1 rounded h-95">
                      <div class=" box-transition box1 ">
                        <div>
                          <img src="../../assets/img/profile.png" alt="">
                        </div>
                        <p>Bob Business</p>
                        <p> Investment Banker</p>
                        <p>icons</p>
                        <p>Member for 10 months</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 p-0">
                    <div class="z-depth-1 h-60 rounded box2">
                      <div class="box-transition ">
                        <h2 class="h2-responsive">218</h2>
                        <p>Predictions</p>
                        <p>27</p>
                        <p>115</p>
                      </div>
                    </div>
                    <div class=" h-30 mt-2 z-depth-1 rounded box3 ">

                      <div class="box-transition ">
                        <p>activity</p>
                        <p>27 15</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="h-40 z-depth-1 rounded mt-2 box-transition box4 ">

                <div class="">
                  <div class=" ">
                    <h3 class="h3-responsive">Community engagement</h3>
                    <div class="container pb-3">
                      <canvas id="canvas2">{{ chart }}</canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0 mt-md-4 mt-4 mt-lg-0 acheive-sec">
              <div class="h-60 z-depth-1 rounded mb-2 accuracy-box">

                <div class="box-transition box5 ">
                  <canvas id="canvas3">{{ chart }}</canvas>
                </div>
              </div>
              <div class="h-40 z-depth-1 rounded acheive-box">

                <div class="box-transition box6">
                  <h3 class="h3-responsive">Acheivements</h3>
                  <div>
                    icon
                    <span>
                      made 200 predictions
                    </span>
                    <span>
                      1 day ago
                    </span>
                  </div>
                  <div>
                    icon
                    <span>
                      made 200 predictions
                    </span>
                    <span>
                      1 day ago

                    </span>
                  </div>

                </div>
              </div>


            </div>
            <div class="col-lg-3 col-md-6 pr-0 mt-md-4 mt-4 mt-lg-0 align-items-stretch ">
              <div class="h-20 z-depth-1 rounded mb-2 box-transition box7">
                <div class=" ">
                  <h3 class="h3-responsive">Ranking</h3>
                  <input type="range" min="0" max="10" step="1" value="0" class="my-5 mx-auto">
                </div>
              </div>
              <div class="h-80 z-depth-1 rounded box-transition box8">

                <div class="">
                  <h3 class="h3-responsive">Top Technology </h3>
                  <ol>
                    <li>Google </li>
                    <li>Microsoft</li>
                    <li>Apple</li>
                    <li> Google </li>
                    <li>Microsoft</li>
                    <li>Apple</li>
                    <li> Google </li>
                    <li>Microsoft</li>
                    <li>Apple</li>
                  </ol>


                </div>
              </div>


            </div>

          </div>
        </div>

      </div>
      <div class="col-lg-4 col-12 pr-0 mt-md-4 mt-4 mt-lg-0">

        <h3 class="text-uppercase h3-responsive">
          My predictions
        </h3>

        <div class="">


          <div *ngFor="let data of predictionData">
            <div class="mb-3">

              <div class="d-flex ">
                <div class="mr-2">
                  <img src="../../assets/img/touch.jpg" alt="" height="80" width="80">
                </div>
                <div>
                  <h5 class="h5-responsive">{{data.title}}</h5>
                  <div>
                    <span class="float-left">My prediction
                      <br> {{data.predictionTime}} </span>
                    <span class="float-right">Consensus
                      <br> {{data.consensus}} </span>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>


      </div>

    </div>
  </section>

  <!--Grid column-->
  <div class="">
    <h3 class="text-uppercase h3-responsive">ACTIVITY</h3>

    <!--Newsfeed-->
    <div class="mdb-feed">
      <div class="news z-depth-1 rounded m-2 p-3">
        <div class="label">
          <img src="../../assets/img/profile.png" class="rounded-circle z-depth-1">
        </div>
        <div class="excerpt">
          <div class="brief">
            <a class="name">Ted Technology</a>
            <div class="date">2 days ago</div>
          </div>
          <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque
            animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>
        </div>
      </div>

      <div class="news z-depth-1 rounded m-2 p-3">
        <div class="label">
          <img src="../../assets/img/profile.png" class="rounded-circle z-depth-1 ">
        </div>
        <div class="excerpt">
          <div class="brief">
            <a class="name">Ted Technology</a>
            <div class="date">2 days ago</div>
          </div>
          <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque
            animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>
        </div>
      </div>


      <div class="news z-depth-1 rounded m-2 p-3">
        <div class="label">
          <img src="../../assets/img/profile.png" class="rounded-circle z-depth-1 z-depth-half">
        </div>
        <div class="excerpt">
          <div class="brief">
            <a class="name">Ted Technology</a>
            <div class="date">2 days ago</div>
          </div>
          <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque
            animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>
        </div>
      </div>


      <div class="news z-depth-1 rounded m-2 p-3">
        <div class="label">
          <img src="../../assets/img/profile.png" class="rounded-circle z-depth-1 z-depth-half">
        </div>
        <div class="excerpt">
          <div class="brief">
            <a class="name">Ted Technology</a>
            <div class="date">2 days ago</div>
          </div>
          <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque
            animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>
        </div>
      </div>
    </div>
  </div>
</div>