.dash-section {
  min-height: 520px;
}

.value {
  //   border-bottom: 4px dashed #bdc3c7;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  width: 300px;
  height: 100px;
  //   line-height: 60px;
  //   margin: 40px auto;
  //   letter-spacing: -.07em;
  //   text-shadow: white 2px 2px 2px;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 150px;
  height: 2px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #3090fd;
    width: 5px;
    height: 20px;
    //   border-radius: 50%;
    //   border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
}

​ input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #3090fd;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}

.box-transition {
  animation: fly-in 1s ease-out;
  animation-fill-mode: forwards;
  // -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1
  // -moz-animation: fadein 1s; /* Firefox < 16
  //  -ms-animation: fadein 1s; /* Internet Explorer
  //   -o-animation: fadein 1s; /* Opera < 12.1
  //      animation: fadein 1s;
  height: 0;
  width: 0;
  background: #fff;
  border-radius: 5px;
  padding: 0.3rem;
}

.box1 {
  //   animation-delay: 0.1s;
  //   background-color: red;
  z-index: 4;
}

.box2 {
  animation-delay: 0.1s;
  //   background-color: pink;
}

.box3 {
  //   background-color: blue;
  animation-delay: 0.1s;
}

.box4 {
  //   background-color: green;
  animation-delay: 0.2s;
  z-index: 2;
}

.box5 {
  //   background-color: yellow;
  animation-delay: 0.2s;
  z-index: 3;
}

.box6 {
  //   background-color: purple;
  animation-delay: 0.3s;
}

.box7 {
  animation-delay: 0.3s;
  //   background-color: orange;
}

.box8 {
  //   background-color: olive;
  animation-delay: 0.3s;
}

@keyframes fly-in {
  100% {
    width: inherit;
    height: inherit;
    //   height: 60px;
    //   margin: 0;
    //   color: #fff;
  }
}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.accuracy-box {}

.acheive-sec {
  display: flex;
  flex-direction: column;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .accuracy-box {
    height: 100%;
  }
  .acheive-box {
    height: 100%;
    margin-top: 2rem;
  }
  .acheive-sec {
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .acheive-sec {
    // display: flex;
    flex-direction: column;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .acheive-sec {
    // display: flex;
    flex-direction: column;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}