<!-- <app-header></app-header> -->
<div class="container grey-text py-4" *ngIf="!showVote">
  <h2 class="h2-responsive black-text text-uppercase mb-4">Create a poll</h2>

  <section class="">
    <div class="row mx-0">
      <div class="col-lg-2 col-12 poll-photo text-center">
        <div class="poll-photo" *ngIf="tempPreview">
          <img class="img-fluid profile_img" [src]="tempPreview">
        </div>
        <div class="poll-photo" *ngIf="!tempPreview">
          <img class="img-fluid profile_img" [src]="defaultImage">
        </div>

        <small class="cursor-pointer" (click)="file.click()"> + Add Photo</small>


        <!-- Profile Picture Update Code -->
        <div class="hide">
          <input type="file" name="file" #file ng2FileSelect [uploader]="uploader" (change)="onFileChange($event)"
            class="form-control input-file" accept="image/*" />
        </div>
        <!-- Profile Picture Update Code -->

      </div>

      <div class="col-lg-10 col-12">

        <form enctype="multipart/form-data">

          <div class="md-form">
            <label for="Category" class="">Select a Category</label>
            <select [(ngModel)]="pollFormObject.Category" name="Category" class="form-control select" mdbInputDirective>
              <option *ngFor="let category of _baseService.allLatestCategories" [value]="category.id">{{category.name}}</option>
            </select>

          </div>

          <div class="md-form">
            <input mdbInputDirective [(ngModel)]="pollFormObject.Title" name="Title" type="text" class="form-control">
            <label for="Title" class="">Add a title</label>
          </div>
          <div class="md-form">
            <input mdbInputDirective [(ngModel)]="pollFormObject.Description" name="Description" type="text" class="form-control">
            <label for="Description" class="">Add a description</label>
          </div>

          <div class="md-form">
            <input mdbInputDirective [(ngModel)]="pollFormObject.Tags" name="Tags" type="text" class="form-control">
            <label for="Tags" class="">Add a Tag (Ex: Tag1,Tag 2, etc..)</label>
          </div>

          <div class="">
            <label class="text-uppercase text-head">Potential Predictions</label>

            <div class="row">
              <div class="col-md-12 mt-2 ml-1">

                <!-- Group of default radios - option 1 -->
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" [(ngModel)]="pollFormObject.PredictionType" id="Month" name="groupOfDefaultRadios"
                    value="Month">
                  <label class="custom-control-label" for="Month">Month</label>
                </div>

                <!-- Group of default radios - option 2 -->
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" [(ngModel)]="pollFormObject.PredictionType" id="MonthYear" name="groupOfDefaultRadios"
                    value="Month/Year" checked>
                  <label class="custom-control-label" for="MonthYear">Month/Year</label>
                </div>

                <!-- Group of default radios - option 3 -->
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" [(ngModel)]="pollFormObject.PredictionType" id="Year1" name="groupOfDefaultRadios"
                    value="Year">
                  <label class="custom-control-label" for="Year1">Year</label>
                </div>
              </div>
            </div>


          </div>


          <br>
          <br>

          <button type="button" class="btn-outline-blue" [ngClass]="{'disabled':!(pollFormObject.Title && pollFormObject.Description  && pollFormObject.Category)}"
            [disabled]="!(pollFormObject.Title && pollFormObject.Description   && pollFormObject.Category)" (click)="onpollFormSubmit()"
            mdbWavesEffect>
            Create Poll</button>

          <button type="button" class="btn-outline-blue ml-3" (click)="cancelCreatePoll();" mdbWavesEffect>
            Cancel</button>


        </form>



      </div>
    </div>

  </section>


</div>





<div class="container my-5" *ngIf="showVote">
  <h2 class="text-uppercase">

    What will be the best time to invest in tech this year?
  </h2>

  <div class="mt-5">

    <div class="row mx-0">

      <div class="col-md-3 col-12  border-right">
        <img src="../../assets/img/gray-up-arrow.png" alt="">
        <h2 class="d-inline-block text-lblue">{{_baseService.LatestMyPollPrediction?_baseService.LatestMyPollPrediction.count:0}}</h2>
        <br /> Responses

      </div>
      <div class="col-md-9 col-12 checklist-outer">

        <div class="text-grey ml-auto pull-right">

          <div class="btn-group custom-dropdown" mdbDropdown>
            <span class="grey-text"> PREDICTION BY:</span>
            <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
              {{pollFormObject.PredictionType}}
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" (click)="PredictionTypeChange('Month');">Month</a>
              <a class="dropdown-item" (click)="PredictionTypeChange('Month/Year');">Month/Year</a>
              <a class="dropdown-item" (click)="PredictionTypeChange('Year');">Year</a>
            </div>
          </div>

        </div>

        <h5>Vote now to see data:</h5>

        <div *ngIf="pollFormObject.PredictionType=='Month'">

          <div class="d-flex justify-content-between flex-wrap mt-5">

            <div class="custom-control custom-radio col" *ngFor="let item of monthsArray | slice:0:6 " (click)="onMonthSelectionChange(item)">
              <input type="radio" class="custom-control-input" id="defaultGroupExample{{item.month}}" name="groupOfDefaultRadios">
              <label class="custom-control-label label_month" for="defaultGroupExample{{item.month}}">{{ item.label }}</label>
            </div>

          </div>
          <div class="d-flex justify-content-between flex-wrap mt-3">

            <div class="custom-control custom-radio col" *ngFor="let item of monthsArray | slice:6:12 " (click)="onMonthSelectionChange(item)">
              <input type="radio" class="custom-control-input" id="defaultGroupExample{{item.month}}" name="groupOfDefaultRadios">
              <label class="custom-control-label label_month" for="defaultGroupExample{{item.month}}">{{ item.label }}</label>
            </div>

          </div>

        </div>

        <div *ngIf="pollFormObject.PredictionType=='Month/Year'">
        
          <div class="row justify-content-md-center  mt-5">
            <div class="col col-md-auto">
                <select class="form-control  form-control-lg" name="months" [(ngModel)]="monthSelect">
                    <option value="MM" selected disabled>MM</option>
                    <option *ngFor="let month of Days" [value]="month.label">{{month.label}}</option>
                 </select>
            </div>
            <div class="col-md-auto">
             <h1>/</h1> 
            </div>
            <div class="col col-md-auto">

              <select class="form-control  form-control-lg" name="years" [(ngModel)]="yearSelect">
                <option value="YYYY" selected disabled>YYYY</option>
                <option *ngFor="let year of yearsArr" [value]="year.value">{{year.label}}</option>
              </select>
            </div>
          </div>


        </div>

        <div *ngIf="pollFormObject.PredictionType=='Year'">
          
            <div class="row justify-content-md-center  mt-5">

              <div class="col col-md-auto">
    
                  <select class="form-control  form-control-lg" name="years" [(ngModel)]="yearSelect">
                    <option value="YYYY" selected disabled>YYYY</option>
                    <option *ngFor="let year of yearsArr" [value]="year.value">{{year.label}}</option>
                  </select>
                </div>
              </div>

        </div>



        <div class="text-center mt-5">

          <button type="button" class="btn-outline-blue cursor-pointer btn_vote" (click)="votePoll();" mdbWavesEffect>
            VOTE</button>


          <h5><a class="cursor-pointer text-head" (click)="openModal(templateConfirmPopup);">Skip</a></h5>
        </div>


      </div>
    </div>
  </div>


</div>


<!-- Confirm Popup Code -->
<div class="">
  <ng-template #templateConfirmPopup>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
  </ng-template>

</div>
<!-- Confirm Popup Code -->