
.select{
    border-bottom: 1px solid #d8d8d8 !important;
    border: none;
}


.md-form label {
    position: absolute;
    top: 0.65rem;
    left: 0;
    transition: 0.2s ease-out;
    cursor: text;
    color: #908f8f;
    font-weight: 500;
}

.disabled, :disabled {
    /* pointer-events: none !important; */
    cursor: not-allowed !important;
}

.checklist-outer div.form-check{

    margin: 10px;
}


/*Radio box*/


label.btn span {
    font-size: 1.5em ;
  }
  
  label input[type="radio"] ~ i.fa.fa-circle-o{
      color: #c8c8c8;    display: inline;
  }
  label input[type="radio"] ~ i.fa.fa-dot-circle-o{
      display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-circle-o{
      display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
      color: #7AA3CC;    display: inline;
  }
  label:hover input[type="radio"] ~ i.fa {
  color: #7AA3CC;
  }


.custom-control.custom-radio {
    min-height: 2.6em;
    padding-left: 0rem !important;
}

label.custom-control-label {
    padding-left: 25px;
    top: 0;
    cursor: pointer;
    color: #929292;
    font-weight: 400;
}

.text-head {
    font-weight: 600;
    color: #737373 !important;
}

.btn_vote{
    padding: 1% 5%;
    border-radius: 25px;
    margin-bottom: 5%;
    font-weight: 600;
}

.label_month {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold !important;
    color: #6b6868 !important;
}



/* This is to remove the arrow of select element in IE */
select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix(){
	.ui-select{border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box; position: relative; overflow: hidden;}
  .ui-select select { width: 110%; background-position: right 30px center !important; border: none !important;}
}

select{
    height: 65px !important;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}