@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@font-face {
  font-family: lfBlack;
  src: url("../src/assets/font/librefranklin-black.ttf");
}

@font-face {
  font-family: lfBold;
  src: url("../src/assets/font/librefranklin-bold.ttf");
}
@font-face {
  font-family: lfLight;
  src: url("../src/assets/font/librefranklin-light.ttf");
}
@font-face {
  font-family: lfReg;
  src: url("../src/assets/font/librefranklin-regular.ttf");
}

.font-lfBlack {
  font-family: lfBlack;
}
.font-lfLight {
  font-family: lfLight;
}
.font-lfBold {
  font-family: lfBold;
}
.font-lfReg {
  font-family: lfReg;
}

// font handles

.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
// font handles

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  // font-family: lfLight;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  // font-family: lfBold;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.full-view {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  max-width: 100%;
}

.text-opacity-7 {
  opacity: 0.7;
}

.text-lblue {
  color: #3090fd;
}

.custom-outline-btn {
  border: solid 1px rgba(255, 255, 255, 0.7);
  padding: 8px 30px !important;
  background-color: transparent;
  &:hover {
    border: solid 1px rgba(255, 255, 255, 0.7);
  }
}
.blue-outline-btn {
  padding: 8px 30px !important;
  border: 1px solid #3090fd;
  border-radius: 25px;
  color: grey;
  cursor: pointer;
}

.gray-outline-btn,
.gray-outline-btn:hover {
  padding: 8px 30px !important;
  border: 1px solid gray;
  // border-radius: 25px;
  color: grey;
}

.rounded-rb {
  border-bottom-right-radius: 25px;
}

.custom-outline-input {
  border: solid 1px rgba(255, 255, 255, 0.7);
}
.outline-input {
  border: solid 1px #787878;
}


.btn-transparent {
  background: transparent;
  outline: none;
  border: 0;
  box-shadow: none;
  &:hover {
    background: transparent;
    outline: none;
    border: 0;
    box-shadow: none;
  }
}

.mdb-feed .news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  .label {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 2.5rem;
  }
  .excerpt {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    word-wrap: break-word;
    margin: 0 0 1.2rem 1.2rem;
    clear: both;
    .brief {
      padding-bottom: 0.5rem;
      font-weight: 500;
      .name {
        display: inline-block;
        vertical-align: baseline;
      }
      a {
        // color: #4285f4;
      }
      .date {
        // display: inline-block;
        float: none;
        // padding-left: 0.7rem;
        font-weight: 300;
        font-size: 0.86rem;
        color: #9e9e9e;
      }
    }
    .added-text {
      margin-bottom: 0.6rem;
      // max-width: 450px;
    }
    .feed-footer {
      .like,
      .message {
        font-weight: 300;
        font-size: 0.86rem;
        color: #9e9e9e;
        float: right;
      }
      .like:hover span,
      .message:hover span {
        color: #000;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }
    }
  }
}

// heights
.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}
.h-95 {
  height: 95%;
}
// heights

.sm-chart-area {
  max-width: 500px;
  max-height: 300px;
  max-height: 100%;
}

.md-chart-area {
  max-width: 900px;
  max-height: 400px;
  max-height: 100%;
}

.br-0 {
  bottom: 0;
  right: 0;
}

.cursor-pointer {
  cursor: pointer;
}

// font size

.fs-16 {
  font-size: 16px;
}
.fs-26 {
  font-size: 26px;
}

.blue-round-btn {
  background-color: #2a90ff;
  border-radius: 20px;
  padding: 3px 20px;
}

.signup-modal .signup-blue-bg {
  background-color: #2a90ff;
}
.btn-outline-white {
  border: 2px solid #fff !important;
  background-color: transparent !important;
  color: #fff !important;
}
.btn-outline-white.btn-rounded {
  border-radius: 25px;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 860px;
  }
}

.signup-modal .md-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.img-cover {
  object-position: top center;
  object-fit: cover;
}

.like span,
.message .msg-icon {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}
.message .msg-icon {
  height: 18px;
  width: 20px;
}

// custom srearch styles

.search-label {
  display: inline-block;
  // border: 1px solid red;
  // line-height: 30px;
  vertical-align: middle;
  // margin-right: 20px;
  // margin-bottom: 17px;
}
.ng-select.custom-search {
  border: 1px solid #787878;
  min-height: 0px;
  border-radius: 20px;
  display: inline-block;
  min-width: 300px;
  max-width: 500px;
  position: relative;
}
.ng-select.custom-search .ng-select-container {
  min-height: 30px;
  border-radius: 10px;
}
.ng-select input,
.ng-select .ng-value-container {
  padding: 3px 10px;
}

.custom-dropdown .btn,
.custom-dropdown .btn:hover,
.custom-dropdown .btn:focus,
.custom-dropdown .btn:active {
  background-color: transparent !important;
  color: #2a90ff !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 10px;
  font-size: 15px;
}
button a{
  color: inherit;
}

.img-upload-btn{
  // background: red;
  border:none;
  color: #787878;
  padding: 10px;
  margin: 5px 10px;
}


.text-danger {
  display: none;
}

.text-success {
  display: none;
}

.btn_sm{
  font-size: 11px;
    margin-top: 5px;
}

.blue-outline-btn {
  background: rgb(243, 235, 235);
}

.card.selectedList {
    background-color: rgba(247, 177, 215, 1) !important;
}


.profile_pic{
  border-radius: 50px;
    width: 35px;
    height: 35px;
}


.comment_profile_pic{
  border-radius: 50px;
    width: 50px;
    height: 50px;
}


.hide{
  display: none !important;
}


.qna-banner{
  min-height: 500px !important;
}

.detail_banner{
  height: 500px;
  width: 100%;
}

select.select option
{
line-height: 200%;
font-size: 14pt;
padding-top: 5px;
padding-bottom: 5px;
}

.categoryName {
  color: white;
  font-weight: bold;
  background: #768ea7;
  padding: 0 10px;
  border-radius: 15px;
  font-size: 12px;
  text-transform: capitalize;
}


.detail_like{
  font-size: 20px;
  color: grey;
}

a.cursor-pointer:hover {
  color: #2a87f3 !important;
}

.modal-dialog.modal-sm {
  padding-top: 10%;
}

.label_month {
  text-transform: uppercase;
  cursor: pointer;
}

/********* For Toaster **************/

// regular style toast 
@import '~ngx-toastr/toastr.css';
 


/********** Date picker Styles************/

.bs-datepicker{
  display:flex;
  align-items:stretch;
  flex-flow:row wrap;
  background:#fff;
  box-shadow:0 0 10px 0 #aaa;
  position:relative;
  z-index:1
}
.bs-datepicker:after{
  clear:both;
  content:'';
  display:block
}
.bs-datepicker bs-day-picker{
  float:left
}
.bs-datepicker button:active,.bs-datepicker button:focus,.bs-datepicker button:hover,.bs-datepicker input:active,.bs-datepicker input:focus,.bs-datepicker input:hover,.bs-datepicker-btns button:active,.bs-datepicker-btns button:focus,.bs-datepicker-btns button:hover,.bs-datepicker-predefined-btns button:active,.bs-datepicker-predefined-btns button:focus{
  outline:0
}
.bs-datepicker-head{
  min-width:270px;
  height:50px;
  padding:10px;
  border-radius:3px 3px 0 0;
  text-align:justify
}
.bs-datepicker-head:after{
  content:"";
  display:inline-block;
  vertical-align:top;
  width:100%
}
.bs-datepicker-head button{
  display:inline-block;
  vertical-align:top;
  padding:0;
  height:30px;
  line-height:30px;
  border:0;
  background:0 0;
  text-align:center;
  cursor:pointer;
  color:#fff;
  transition:.3s
}
.bs-datepicker-head button[disabled],.bs-datepicker-head button[disabled]:active,.bs-datepicker-head button[disabled]:hover{
  background:rgba(221,221,221,.3);
  color:#f5f5f5;
  cursor:not-allowed
}
.bs-datepicker-head button.next,.bs-datepicker-head button.previous{
  border-radius:50%;
  width:30px;
  height:30px
}
.bs-datepicker-head button.next span,.bs-datepicker-head button.previous span{
  font-size:28px;
  line-height:1;
  display:inline-block;
  position:relative;
  height:100%;
  width:100%;
  border-radius:50%
}
.bs-datepicker-head button.current{
  border-radius:15px;
  max-width:155px;
  padding:0 13px
}
.bs-datepicker-head button:hover{
  background-color:rgba(0,0,0,.1)
}
.bs-datepicker-head button:active{
  background-color:rgba(0,0,0,.2)
}
.bs-datepicker-body{
  padding:10px;
  border-radius:0 0 3px 3px;
  min-height:232px;
  min-width:278px;
  border:1px solid #e9edf0
}
.bs-datepicker-body .days.weeks{
  position:relative;
  z-index:1
}
.bs-datepicker-body table{
  width:100%;
  border-collapse:separate;
  border-spacing:0
}
.bs-datepicker-body table th{
  font-size:13px;
  color:#9aaec1;
  font-weight:400;
  text-align:center
}
.bs-datepicker-body table td{
  color:#54708b;
  text-align:center;
  position:relative;
  padding:0
}
.bs-datepicker-body table td span{
  display:block;
  margin:0 auto;
  font-size:13px;
  font-weight: 500;
  border-radius:50%;
  position:relative;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none
}
.bs-datepicker-body table td:not(.disabled) span{
  cursor:pointer
}
.bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected),.bs-datepicker-body table td.is-highlighted:not(.disabled):not(.selected) span{
  background-color:#e9edf0;
  transition:none
}
.bs-datepicker-body table td span.disabled,.bs-datepicker-body table td.disabled span{
  color:#9aaec1
}
.bs-datepicker-body table td span.selected,.bs-datepicker-body table td.selected span{
  color:#fff
}
.bs-datepicker-body table td.active{
  position:relative
}
.bs-datepicker-body table td.active.select-start:before{
  left:35%
}
.bs-datepicker-body table td.active.select-end:before{
  left:-85%
}
.bs-datepicker-body table td span.active.select-end:after,.bs-datepicker-body table td span.active.select-start:after,.bs-datepicker-body table td.active.select-end span:after,.bs-datepicker-body table td.active.select-start span:after{
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  width:100%;
  height:100%;
  transition:.3s;
  top:0;
  border-radius:50%
}
.bs-datepicker-body table td span:before,.bs-datepicker-body table td:before{
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  top:6px;
  bottom:6px;
  left:-2px;
  right:-2px;
  box-sizing:content-box;
  background:0 0
}
.bs-datepicker-body table td.active.select-start+td.active:before{
  left:-20%
}
.bs-datepicker-body table td:last-child.active:before{
  border-radius:0 3px 3px 0;
  width:125%;
  left:-25%
}
.bs-datepicker-body table td span[class*=select-],.bs-datepicker-body table td[class*=select-] span{
  border-radius:50%;
  color:#fff
}
.bs-datepicker-body table.days span.active:not(.select-start):before,.bs-datepicker-body table.days span.in-range:not(.select-start):before,.bs-datepicker-body table.days td.active:not(.select-start):before,.bs-datepicker-body table.days td.in-range:not(.select-start):before{
  background:#e9edf0
}
.bs-datepicker-body table.days span{
  width:35px;
  height:35px;
  line-height:35px
}
.bs-datepicker-body table.days span.select-start{
  z-index:2
}
.bs-datepicker-body table.days span.in-range.select-end:before,.bs-datepicker-body table.days span.is-highlighted.in-range:before{
  background:0 0;
  right:0;
  left:0
}
.bs-datepicker-body table.days td.active+td.is-highlighted:before,.bs-datepicker-body table.days td.active+td.select-end:before,.bs-datepicker-body table.days td.in-range+td.is-highlighted:before,.bs-datepicker-body table.days td.in-range+td.select-end:before,.bs-datepicker-body table.days td.select-start+td.is-highlighted:before,.bs-datepicker-body table.days td.select-start+td.select-end:before{
  background:#e9edf0;
  width:100%
}
.bs-datepicker-body table.weeks tr td:nth-child(2).active:before{
  border-radius:3px 0 0 3px;
  left:0;
  width:100%
}
.bs-datepicker-body table:not(.weeks) tr td:first-child:before{
  border-radius:3px 0 0 3px
}
.bs-datepicker-body table.years td span{
  width:46px;
  height:46px;
  line-height:45px;
  margin:0 auto
}
.bs-datepicker-body table.years tr:not(:last-child) td span{
  margin-bottom:8px
}
.bs-datepicker-body table.months td{
  height:52px
}
.bs-datepicker-body table.months td span{
  padding:6px;
  border-radius:15px
}
.bs-datepicker .current-timedate{
  color:#54708b;
  font-size:15px;
  text-align:center;
  height:30px;
  line-height:30px;
  border-radius:20px;
  border:1px solid #e9edf0;
  margin-bottom:10px;
  cursor:pointer;
  text-transform:uppercase;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none
}
.bs-datepicker .current-timedate span:not(:empty):before{
  content:"";
  width:15px;
  height:16px;
  display:inline-block;
  margin-right:4px;
  vertical-align:text-bottom;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAABMklEQVQoU9VTwW3CQBCcOUgBtEBKSAukAnBKME+wFCAlYIhk8sQlxFABtJAScAsuAPBEewYcxCP8ouxrPDsza61uiVN1o6RNHD4htSCmq49RfO71BvMJqBBkITRf1kmUW49nQRC9h1I5AZlBClaL8aP1fKgOOxCx8aSLs+Q19eZuNO8QmPqJRtDFguy7OAcDbJPs+/BKVPDIPrvD2ZJgWAmVe7O0rI0Vqs1seyWUXpuJoppYCa5L+U++NpNPkr5OE2oMdARsb3gykJT5ydZcL8Z9Ww60nxg2LhjON9li9OwXZzo+xLbp3nC2s9CL2RrueGyVrgwNm8HpsCzZ9EEW6kqXlo1GQe03FzP/7W8Hl0dBtu7Bf7zt6mIwvX1RvzDCm7+q3mAW0Dl/GPdUCeXrZLT9BrDrGkm4qlPvAAAAAElFTkSuQmCC)
}
.bs-datepicker-multiple{
  display:inline-block;
  border-radius:4px 0 0 4px
}
.bs-datepicker-multiple+.bs-datepicker-multiple{
  margin-left:10px
}
.bs-datepicker-multiple .bs-datepicker{
  box-shadow:none;
  position:relative
}
.bs-datepicker-multiple .bs-datepicker:not(:last-child){
  padding-right:10px
}
.bs-datepicker-multiple .bs-datepicker+.bs-datepicker:after{
  content:"";
  display:block;
  width:14px;
  height:10px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAA1ElEQVQoU42RsQrCUAxF77VuDu7O4oMWW//BURBBpZvgKk4uIrjoqKOTf+DopIO4uYggtFTfw3+pkQqCW1/G5J7kJiFy4m5MxUlxAzgIPHX+lzMPzupRYlYgxiR7vqsOP8YKzsTx0yxFMCUZ+q7aZzlr+OvgoWcAFyAHgat2jLWu48252DdqAihDJGSSJNUUxYmQjs3+hPQBlAh2rG2LCOPnaw3IiGDX99TRCs7ASJsNhUOA7d/LcuHvRG22FIZvsNXw1MX6VZExCilOQKEfeLXr/10+aC9Ho7arh7oAAAAASUVORK5CYII=);
  position:absolute;
  top:25px;
  left:-8px
}
.bs-datepicker-multiple .bs-datepicker .left{
  float:left
}
.bs-datepicker-multiple .bs-datepicker .right{
  float:right
}
.bs-datepicker-container{
  padding:15px
}
.bs-datepicker-custom-range{
  padding:15px;
  background:#eee
}
.bs-datepicker-predefined-btns button{
  width:100%;
  display:block;
  height:30px;
  background-color:#9aaec1;
  border-radius:4px;
  color:#fff;
  border:0;
  margin-bottom:10px;
  padding:0 18px;
  text-align:left;
  transition:.3s
}
.bs-datepicker-predefined-btns button:active,.bs-datepicker-predefined-btns button:hover{
  background-color:#54708b
}
.bs-datepicker .is-other-month{
  color:rgba(0,0,0,.25)
}
.bs-datepicker-buttons{
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-end;
  padding-top:10px;
  border-top:1px solid #e9edf0
}
.bs-datepicker-buttons .btn-default{
  margin-left:10px
}
.bs-timepicker-container{
  padding:10px 0
}
.bs-timepicker-label{
  color:#54708b;
  margin-bottom:10px
}
.bs-timepicker-controls{
  display:inline-block;
  vertical-align:top;
  margin-right:10px
}
.bs-timepicker-controls button{
  width:20px;
  height:20px;
  border-radius:50%;
  border:0;
  background-color:#e9edf0;
  color:#54708b;
  font-size:16px;
  font-weight:700;
  vertical-align:middle;
  line-height:0;
  padding:0;
  transition:.3s
}
.bs-timepicker-controls button:hover{
  background-color:#d5dadd
}
.bs-timepicker-controls input{
  width:35px;
  height:25px;
  border-radius:13px;
  text-align:center;
  border:1px solid #e9edf0
}
.bs-timepicker .switch-time-format{
  text-transform:uppercase;
  min-width:54px;
  height:25px;
  border-radius:20px;
  border:1px solid #e9edf0;
  background:#fff;
  color:#54708b;
  font-size:13px
}
.bs-timepicker .switch-time-format img{
  vertical-align:initial;
  margin-left:4px
}
bs-datepicker-container,bs-daterangepicker-container{
  z-index:1080
}
@media (max-width:768px){
  .bs-datepicker-multiple{
      display:flex
  }
  .bs-datepicker-multiple+.bs-datepicker-multiple{
      margin-top:10px;
      margin-left:0
  }
}
.theme-default .bs-datepicker-body table td span.selected,.theme-default .bs-datepicker-body table td span[class*=select-]:after,.theme-default .bs-datepicker-body table td.selected span,.theme-default .bs-datepicker-body table td[class*=select-] span:after,.theme-default .bs-datepicker-head{
  background-color:#777
}
.theme-default .bs-datepicker-body table td.week span{
  color:#777
}
.theme-green .bs-datepicker-body table td span.selected,.theme-green .bs-datepicker-body table td span[class*=select-]:after,.theme-green .bs-datepicker-body table td.selected span,.theme-green .bs-datepicker-body table td[class*=select-] span:after,.theme-green .bs-datepicker-head{
  background-color:#2785f3
}
.theme-green .bs-datepicker-body table td.week span{
  color:#2785f3
}
.theme-blue .bs-datepicker-body table td span.selected,.theme-blue .bs-datepicker-body table td span[class*=select-]:after,.theme-blue .bs-datepicker-body table td.selected span,.theme-blue .bs-datepicker-body table td[class*=select-] span:after,.theme-blue .bs-datepicker-head{
  background-color:#5bc0de
}
.theme-blue .bs-datepicker-body table td.week span{
  color:#5bc0de
}
.theme-dark-blue .bs-datepicker-body table td span.selected,.theme-dark-blue .bs-datepicker-body table td span[class*=select-]:after,.theme-dark-blue .bs-datepicker-body table td.selected span,.theme-dark-blue .bs-datepicker-body table td[class*=select-] span:after,.theme-dark-blue .bs-datepicker-head{
  background-color:#337ab7
}
.theme-dark-blue .bs-datepicker-body table td.week span{
  color:#337ab7
}
.theme-red .bs-datepicker-body table td span.selected,.theme-red .bs-datepicker-body table td span[class*=select-]:after,.theme-red .bs-datepicker-body table td.selected span,.theme-red .bs-datepicker-body table td[class*=select-] span:after,.theme-red .bs-datepicker-head{
  background-color:#d9534f
}
.theme-red .bs-datepicker-body table td.week span{
  color:#d9534f
}
.theme-orange .bs-datepicker-body table td span.selected,.theme-orange .bs-datepicker-body table td span[class*=select-]:after,.theme-orange .bs-datepicker-body table td.selected span,.theme-orange .bs-datepicker-body table td[class*=select-] span:after,.theme-orange .bs-datepicker-head{
  background-color:#f0ad4e
}
.theme-orange .bs-datepicker-body table td.week span{
  color:#f0ad4e
}

/****** TIme Picker Styles *****/
timepicker table .btn {
  padding: 0px !important;
}



.tab-container li.nav-item a {
  font-weight: bold;
  letter-spacing: 1px;

}
.list-group a {
  font-weight: 600;
  letter-spacing: 1px;
}