<!-- <form class="form-inline d-flex dropdown">
    <input class="form-control form-control-sm" type="text" placeholder="Search" id="menu11" data-toggle="dropdown">
    <button class="btn btn-outline-success btn-sm" type="submit">Go</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu11">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
        <div class="dropdown-divider"></div>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
        <div class="dropdown-divider"></div>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
    </ul>
  </form> -->

<div class="m-5 p-5 d-flex align-items-center">
  <div class="btn-group custom-dropdown" mdbDropdown>Search in: 
    <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
        Category
    </button>

    <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#">All</a>
        <a class="dropdown-item" href="#">Tech</a>
        <a class="dropdown-item" href="#">Trends</a>
       
    </div>
</div>

<!-- <span class="search-label">
Search
</span> -->
<ng-select class="custom-search" placeholder=" Search...">
  <span class="search-icon"></span>
</ng-select>

<!-- </div> -->