<app-header></app-header>
<div class="container mt-5">


  <div class="">
    <h5 class="text-uppercase h5-responsive">
      <small> Consenses for </small>
      <big class="text-lblue font-weight-bold">2100 </big>
      <small class="text-lblue font-weight-bold">A.d.</small>
    </h5>
    <p class="text-uppercase">
      <a href="" ng-click="show24"> 24 hours </a> |
      <a href="" ng-click="showMonthly"> Monthly </a> |
      <a href="" ng-click="showYearly"> yearly </a>
    </p>

    <!-- <div ng-show="show24">It will appear here!</div>
    <div ng-show="showMonthly">This is mah content, yo!</div>
    <div ng-show="showYearly">This is mah 33</div> -->

    <div class="" style="height: 200px; max-height: 100%;">
      <canvas id="canvas4">{{ chart }}</canvas>
    </div>


  </div>

  <div class="z-depth-1 rounded p-5 my-5 position-relative">
    <h4 class="text-uppercase font-weight-bold h4-responsive">

      what will be the best time to invest in tech this year?
    </h4>
    <p>

      <small>Posted By:
        <span class="text-lblue">Bob Business</span>
      </small>
      <span class="d-inline-block mx-2 ml-5">
        <img src="../../assets/img/gray-up-arrow.png" alt=""> 500
      </span>
      <span class="d-inline-block mx-2 ml-5">
        <img src="../../assets/img/gray-up-arrow.png" alt=""> 2,745
      </span>
    </p>

    <div class="row mx-0">

      <div class="col-lg-9 col-sm-12">
        <canvas id="canvas">{{ chart }}</canvas>

        <div class="">

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis enim aspernatur doloribus possimus consequuntur!
          Doloribus aut possimus porro mollitia blanditiis modi officia a. Ab ex quod perspiciatis architecto non.
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">


        <div class="blue-round-btn d-inline-block text-white mx-auto">
            <a href="" [routerLink]="['/poll']" class="text-white">  predict </a>
        </div>

        <div class="mt-4">
          <small> </small>
          Consensus:
          <h3 class="text-uppercase text-lblue h3-responsive">
            August
          </h3>
        </div>

        <div class="mt-4">
          Predicted By:
          <div class="d-inline-block blue-outline-btn">
            Add Filter
          </div>
        </div>

      </div>
    </div>



    <div class="position-absolute br-0">
      <div class="text-uppercase text-lblue pr-5 pb-3 ">
        <a href=""  [routerLink]="['/polls']"> View full poll details > </a>


      </div>

    </div>
  </div>


  <section>

    <div class="">
      <div class="row mx-0">
        <div class="col-lg-9 col-sm-12  col-12 ">

          <h3 class="text-uppercase h3-responsive">Trending now:
            <span class="text-lblue"> technology </span>
          </h3>

          <div class="d-flex mt-5">

            <div>
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all"
                    aria-selected="true">All</a>
                  <a class="nav-item nav-link" id=" nav-poll-tab" data-toggle="tab" href="# nav-poll" role="tab" aria-controls=" nav-poll"
                    aria-selected="false">Polls</a>
                  <a class="nav-item nav-link" id=" nav-article-tab" data-toggle="tab" href="# nav-article" role="tab" aria-controls=" nav-article"
                    aria-selected="false">Articles</a>
                  <a class="nav-item nav-link" id=" nav-video-tab" data-toggle="tab" href="# nav-video" role="tab" aria-controls=" nav-video"
                    aria-selected="false">Videos</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                  <div class="">
                    <div *ngFor="let data of trendingData">
                      <div class="mb-3">
                        <div class="d-flex position-relative border-bottom pb-3 ">
                          <div class="mr-2">
                            <img src="../../assets/img/touch.jpg" alt="" height="170" width="200">
                          </div>
                          <div>
                            <h3 class="h3-responsive">{{data.title}}</h3>
                            <div class="position-absolute br-0 p-2">
                              <span class="text-lblue d-inline-block px-2"> 2,745</span>
                              <img src="../../assets/img/gray-up-arrow.png" alt="">
                              <span class="text-lblue d-inline-block ml-3 px-2"> 34 </span>
                              <img src="../../assets/img/message.png" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id=" nav-poll" role="tabpanel" aria-labelledby=" nav-poll-tab">...</div>
                <div class="tab-pane fade" id=" nav-article" role="tabpanel" aria-labelledby=" nav-article-tab">...</div>
                <div class="tab-pane fade" id=" nav-video" role="tabpanel" aria-labelledby=" nav-video-tab">...</div>
              </div>

            </div>
            <!-- <div class="btn-group" mdbDropdown>
              <button mdbDropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                Basic dropdown
              </button>

              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div> -->
          </div>
          <div class="">



          </div>

        </div>
        <div class="col-lg-3 col-sm-12 col-12">
          <h4 class="h4-responsive">
            Featured polls
          </h4>

          <div *ngFor="let data of trendingData">
            <div class="mb-3">

              <div class="d-flex ">
                <div class="mr-2">
                  <img src="../../assets/img/touch.jpg" alt="" height="80" width="80">
                </div>
                <div>
                  <p class="">{{data.title}}</p>
                  <div>

                  </div>
                </div>

              </div>
            </div>


          </div>

          <div class="text-right">
            <a href="" class="grey-text fs-16">
              SEE MORE >
            </a>
          </div>

        </div>
      </div>
    </div>

  </section>