<!-- <app-header></app-header> -->

<div class="p-3 container">
  <h2 class="h2-responsive mt-4">
    {{selectedItemType}}
    <a class="d-inline-block blue-outline-btn pull-right btn_sm" (click)="goBack();">
      Back
    </a>
  </h2>

  <div class="row mx-0">
    <div class="my-3">
      <div class="mx-0 position-relative my-2">
        <div class=" pl-0 ">
          <div class="position-relative qna-banner px-3">
            <!-- <img class="img-fluid" src="../../assets/img/touch.jpg"> -->

            <img class="img-fluid detail_banner" [defaultImage]="defaultImage" [lazyLoad]="selectedItemInfo.picture"
              [useSrcset]="true" [offset]="offset">

          </div>
        </div>
        <div class="  p-3  d-flex flex-column">

          <div class="">



            <div class="mt-4">
              <h4 class="h4-responsive">{{ selectedItemInfo.title }}</h4>
            </div>
            <div class="clearfix f-14">
              <span class="d-inline-block ">{{ selectedItemInfo.category?selectedItemInfo.category.name:'' }}</span>
            </div>
            <div class="f-14 d-flex align-items-center my-3">
              <div class="d-inline-block mr-3">
                <!-- <img src="../../assets/img/profile.png" alt="" height="40" width="40"> -->
                <img [src]="selectedItemInfo.created_by.picture" alt="" class="profile_pic">
              </div>
              <div class="d-inline-block f-14">
                {{ selectedItemInfo.created_by.firstName + selectedItemInfo.created_by.lastName }}
                <br />
                <span>{{selectedItemInfo.createdAt | timeAgo}}</span>
              </div>
              <div class="ml-auto f-14">

                <div class="text-right d-inline-block mx-2">
                  <a class="like cursor-pointer" (click)="likeItem()">
                    <i class="fa fa-thumbs-o-up detail_like"></i>
                    <span>{{selectedItemInfo.like_count?selectedItemInfo.like_count:0 }} likes</span>
                  </a>
                </div>

                <!-- <div class="text-right d-inline-block mx-2">
                  <img src="../../assets/img/gray-up-arrow.png" alt=""> {{
                  selectedItemInfo.like_count?selectedItemInfo.like_count:0 }}
                </div> -->



                <span class="text-right d-inline-block mx-2">
                  <img src="../../assets/img/message.png" alt=""> {{
                  selectedItemInfo.comment_count?selectedItemInfo.comment_count:0 }}
                </span>
              </div>
            </div>
          </div>
          <div class="">
            <div class="desc pb-3 block-with-text text-justify">
              {{selectedItemInfo.description}}

            </div>
          </div>

          <div class="col-md-12">
            <form>
              <textarea [(ngModel)]="postCommentInput" name="postCommentInput" class="form-control" placeholder="Post your comment here"></textarea>
              <button type="submit" (click)="postComment();" [disabled]="!postCommentInput" class="btn btn-success green pull-right">
                <i class="fa fa-share"></i> Post Comment
              </button>
            </form>
          </div>


        </div>
      </div>
    </div>


  </div>


  <div class="" *ngIf="_baseService.selectedPollComments.length>0">
    <div class="d-flex align-items-center mx-4">
      <h2 class="">
        Discussions
      </h2>

      <div class="ml-auto">
        <div class="btn-group custom-dropdown" mdbDropdown>
          <span class="grey-text"> Sort By:</span>
          <button mdbDropdownToggle type="button" class="btn dropdown-toggle waves-light" mdbWavesEffect>
            {{isOrderby?'Newest':'Oldest'}}
          </button>

          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" (click)="selectOrderBy(true)">Newest</a>
            <a class="dropdown-item" (click)="selectOrderBy(false)">Oldest</a>
          </div>
        </div>
      </div>
    </div>


    <!--Grid row-->
    <div class="container p-4 mt-2">

      <!--Grid column-->
      <div class="">


        <!--Newsfeed-->
        <div class="mdb-feed">
          <div class="news z-depth-1 rounded m-2 p-3" *ngFor="let data of _baseService.selectedPollComments | orderByDate : 'createdAt': isOrderby">
            <div class="label">
              <img [src]="data.user.picture" class="comment_profile_pic">
            </div>

            <!--Excert-->
            <div class="excerpt">

              <!--Brief-->
              <div class="brief" *ngIf="data.user">
                <a class="name">{{data.user?data.user.firstName+" "+data.user.lastName:''}}</a>

                <div class="date">{{data.createdAt | timeAgo}}</div>
              </div>

              <!--Added text-->
              <div class="added-text"> {{data.comment}}</div>

              <!--First news-->
              <!-- <div class="news z-depth-1 rounded m-2 p-3">
  
                  <div class="label">
                    <img src="../../assets/img/profile.png" class="rounded-circle z-depth-1-half">
  
                  </div>
  
                  <div class="excerpt">
  
                    <div class="brief">
                      <a class="name">Ted Technology</a>
                      <div class="date">1 hour ago</div>
                    </div>
                    <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore,
                      iste quas libero eius Vitae
                      sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>
  
                    <div class="feed-footer clearfix">
                      <a class="like">
                        <i class="fa fa-thumbs-o-up"></i>
                        <span>5 likes</span>
                      </a>
                    </div>
  
                  </div>
  
                </div> -->
              <!--First news-->



            </div>
          </div>
        </div>
        <!--Newsfeed-->


      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</div>